#content {
	background: #105E7C;
	@include gradient((#2B2424, -15%, #00AEEF, 120%));
	padding: 38px 10px 20px;
	position: relative;

	@include media-query ($minor-bp) {
		padding: 38px 36px 20px;
	}

	&:after {
		background: url(../img/bg-overlay-device.png);
		background-position: center top;
		background-repeat: no-repeat;
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}
}

#head {
	h4 {
		background: #000203;
		color: #626567;
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 3px;
		margin: 0;
		padding: 20px 20px 10px;
	}
}

h1 {
	color: #cddde9;
	font-size: 25px;
	font-weight: normal;
	line-height: 1.3;
	margin-bottom: 20px;
}

#content_inner {
	padding: 0 24px;

	@include media-query ($minor-bp) {
		box-sizing: border-box;
		margin: auto;
		padding: 0 30px;
		max-width: 700px;
	}
}

#footer {
	background: #282f35;
	color: #8b8e91;
	font-size: 12px;
	text-align: left;

	a {
		color: #8b8e91;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	h2 {
		font-size: 12px;
		margin: 0 0 12px;
		text-transform: uppercase;
	}

	h5 {
		font-size: 12px;
		margin: 0;
	}
}

[role="complementary"] {
	box-sizing: border-box;
	margin: auto;
	max-width: 890px;
	padding: 36px 34px;
	position: relative;

	@include media-query ($minor-bp) {
		padding: 36px;
	}
}

dl {
	display: block;
	margin: 0;

	dd, dt {
		display: inline-block;
	}

	dt {
		width: 15px;
	}

	dd {
		margin-left: 24px;
	}
}

.address_container {
	@include media-query ($initial-bp) {
		display: table;
		width: 100%;
	}

	@include media-query ($minor-bp) {
		display: block;
	}
}

.phone, .address {
	@include media-query ($initial-bp) {
	  display: table-cell;
	  vertical-align: top;
	}

	@include media-query ($minor-bp) {
		display: block;
		float: left;
	}

	p {
		margin-top: 0;
	}
}

.address {
	@include media-query ($minor-bp) {
		margin-right: 24px;
	}
}

#logo_footer {
	display: block;
	margin: 40px auto 20px;

	@include media-query ($minor-bp) {
		bottom: 0;
		position: absolute;
		margin: 0;
		right: 0;
	}
}