@charset "utf-8";

$initial-bp: 480px;
$minor-bp: 600px;
$major-bp: 1000px;

$font-opensans: 'Open Sans', sans-serif;

body {
	background: #282f35;
	color: #ccd0d7;
	font-family: $font-opensans;
	font-size: 14px;
	line-height: 1.4;
	margin: 0;
	text-align: center;
}

img {
	max-width: 100%;
}

.display-block {
	display: block;
}

.display-block--at_minor {
	@include media-query ($minor-bp) {
		display: block;
	}
}

.display-inline-block {
	display: inline-block;
}

.position-relative {
	position: relative;
}