@charset "utf-8";
.clearfix {
  min-height: 0;
}
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

body {
  background: #282f35;
  color: #ccd0d7;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  text-align: center;
}

img {
  max-width: 100%;
}

.display-block {
  display: block;
}

@media (min-width: 600px) {
  .display-block--at_minor {
    display: block;
  }
}

.display-inline-block {
  display: inline-block;
}

.position-relative {
  position: relative;
}

#content {
  background: #105E7C;
  background-image: url("data:image/svg+xml;base64,base64Encode('<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"100%\" height=\"100%\" viewBox=\"0 0 1 1\" preserveAspectRatio=\"none\"><linearGradient id=\"g522\" gradientUnits=\"userSpaceOnUse\" x1=\"0%\" y1=\"0%\" x2=\"0%\" y2=\"100%\"><stop stop-color=\"#2b2424\" offset=\"-0.15\" /><stop stop-color=\"#00aeef\" offset=\"1.2\" /></linearGradient><rect x=\"0\" y=\"0\" width=\"1\" height=\"1\" fill=\"url(#g522)\" /></svg>')");
  background: -moz-linear-gradient(top , #2b2424 -15%, #00aeef 120%);
  background: -webkit-linear-gradient(top , #2b2424 -15%, #00aeef 120%);
  background: linear-gradient(to bottom , #2b2424 -15%, #00aeef 120%);
  -pie-background: linear-gradient(top , #2b2424 -15%, #00aeef 120%);
  padding: 38px 10px 20px;
  position: relative;
}
@media (min-width: 600px) {
  #content {
    padding: 38px 36px 20px;
  }
}
#content:after {
  background: url(../img/bg-overlay-device.png);
  background-position: center top;
  background-repeat: no-repeat;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

#head h4 {
  background: #000203;
  color: #626567;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
  padding: 20px 20px 10px;
}

h1 {
  color: #cddde9;
  font-size: 25px;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 20px;
}

#content_inner {
  padding: 0 24px;
}
@media (min-width: 600px) {
  #content_inner {
    box-sizing: border-box;
    margin: auto;
    padding: 0 30px;
    max-width: 700px;
  }
}

#footer {
  background: #282f35;
  color: #8b8e91;
  font-size: 12px;
  text-align: left;
}
#footer a {
  color: #8b8e91;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer h2 {
  font-size: 12px;
  margin: 0 0 12px;
  text-transform: uppercase;
}
#footer h5 {
  font-size: 12px;
  margin: 0;
}

[role="complementary"] {
  box-sizing: border-box;
  margin: auto;
  max-width: 890px;
  padding: 36px 34px;
  position: relative;
}
@media (min-width: 600px) {
  [role="complementary"] {
    padding: 36px;
  }
}

dl {
  display: block;
  margin: 0;
}
dl dd, dl dt {
  display: inline-block;
}
dl dt {
  width: 15px;
}
dl dd {
  margin-left: 24px;
}

@media (min-width: 480px) {
  .address_container {
    display: table;
    width: 100%;
  }
}
@media (min-width: 600px) {
  .address_container {
    display: block;
  }
}

@media (min-width: 480px) {
  .phone, .address {
    display: table-cell;
    vertical-align: top;
  }
}
@media (min-width: 600px) {
  .phone, .address {
    display: block;
    float: left;
  }
}
.phone p, .address p {
  margin-top: 0;
}

@media (min-width: 600px) {
  .address {
    margin-right: 24px;
  }
}

#logo_footer {
  display: block;
  margin: 40px auto 20px;
}
@media (min-width: 600px) {
  #logo_footer {
    bottom: 0;
    position: absolute;
    margin: 0;
    right: 0;
  }
}
