// body content

.path-brands .block-mjh_content {
    margin-bottom: -2px;
    padding-top: 0;

    @include breakpoint(large) {
        margin-bottom: 74px;
        padding-top: 3px;
    }
    .content {
        max-width: 100%;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding: 0 15px;

        &:after {
            content: '';
            clear: both;
            display: block;
        }
        @include breakpoint(large) {
            max-width: 1200px;
            width: 100%;
            padding: 0 15px;
        }
        @include breakpoint(xl) {
            padding: 0;
        }
    }
    .view-brands {
        margin-top: 32px;

        @include breakpoint(large) {
            margin-top: 72px;
        }
        & > .contextual {
            top: -30px;
        }
        .view-content {
            border-bottom: none;
            padding-bottom: 0;
            display: inline-block;
            font-size: 0;
            vertical-align: top;
        }
        .views-row {
            margin-bottom: 58px;
            width: 100%;
            display: inline-block;
            vertical-align: top;

            @include breakpoint(small) {
                width: 47%;
                margin-right: 6%;
            }
            &:nth-child(even) {
                @include breakpoint(small) {
                    margin-right: 0;
                }
                @include breakpoint(large) {
                    margin-right: 3.75%;
                }
            }
            &:nth-child(3n) {
                @include breakpoint(large) {
                    margin-right: 0;
                }
            }
            @include breakpoint(large) {
                width: 30.833333%;
                margin-right: 3.75%;
                margin-bottom: 87px;
            }
        }
        .field--name-field-teaser-image {
            line-height: 0;
        }
        .field--name-node-title {
            font-family: $EnzoOffcBold;
            font-size: 24px;
            letter-spacing: 0.18px;
            padding: 10px 10px 6px;

            h2 {
                color: $DarkGreen;

                a {
                    color: $DarkGreen;
                }
            }
            @include breakpoint(large) {
                padding: 28px 10px 6px;
            }
        }
        .field--name-field-intro {
            font-family: $EnzoOffcMedium;
            font-size: 18px;
            color: $OxfordBlue;
            letter-spacing: 0;
            line-height: 28px;
            padding: 0 10px;
        }
        .field--name-node-link {
            font-family: $EnzoOffcBold;
            font-size: 14px;
            letter-spacing: 1px;
            text-align: right;
            text-transform: uppercase;
            padding-top: 6px;

            @include breakpoint(large) {
                padding-top: 13px;
                padding-right: 18px;
            }
            a {
                border-bottom: 2px solid $DeepSkyBlue;
                color: $DeepSkyBlue;

                &:hover {
                    color: $DarkGreen;
                    border-color: $DarkGreen;
                }
            }
        }
    }
}