// Breadcrumb

.breadcrumb-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .region-breadcrumb {
        padding: 13px 0 0;
        background: transparent;
        position: relative;
        z-index: 1;

        @include breakpoint(large) {
            padding-top: 40px;
        }
        ol {
            li {
                color: $Geyser;
                text-transform: uppercase;
                font-family: $EnzoOffcBold;
                font-size: 12px;
                letter-spacing: 1px;
                list-style: none;
                display: inline;

                @include breakpoint(large) {
                    font-size: 14px;
                }
                &:before {
                    content: '/';
                }
                &:first-child {
                    &:before {
                        content: none;
                    }
                }
                a {
                    color: $Geyser;
                    text-decoration: none;
                    border-bottom: 2px solid $Geyser;
                }
            }
        }
    }
}
// page title
.page-node-type-page .page-banner, .path-user .page-banner, .page-node-type-brand .page-banner {
    padding: 0;
    margin-top: 0;

    @include breakpoint(large) {
        margin-top: 0;
    }
    .block-mjh_page_title {
        position: relative;

        .page-title {
            position: absolute;
            top: 94px;
            left: 50%;
            max-width: 1200px;
            width: 100%;
            text-align: center;
            color: $White;
            z-index: 1;
            font-family: $EnzoOffcBold;
            @include Chupacabra;
            letter-spacing: 0;
            @include transform(translateX(-50%));

            @include breakpoint(large) {
                top: 169px;
            }
        }
    }
    .block-mjh_page_title {
        min-height: 199px;
        background-size: cover;
        position: relative;
        background-position: center;

        @include breakpoint(large) {
            min-height: 350px;
        }
        @media (min-width:1500px) {
            background-position: center top -130px !important;
        }
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba($Black, 0.77);

            @include breakpoint(large) {
                background: rgba($Black, 0.5);
            }
        }
    }
}
// Quick Edit
.block-mjh_local_tasks {
    max-width: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;

    &:after {
        content: '';
        clear: both;
        display: block;
    }
    @include breakpoint(xl) {
        max-width: 992px;
        width: 100%;
        padding: 0;
    }
    ul.tabs {
        margin-bottom: 30px;
        border-bottom: 1px solid $DeepSkyBlue;

        li {
            list-style: none;
            display: inline-block;
            padding: 8px 20px;
            border: 1px solid $DeepSkyBlue;
            border-radius: 5px 5px 0 0;
            border-bottom: 0;
            margin-bottom: 15px;
            @include transition(all 0.15s ease-in-out);

            @include breakpoint(large) {
                margin-bottom: 0;
            }
            &:hover, &.is-active {
                background: $DeepSkyBlue;

                a {
                    color: $White;
                }
            }
        }
    }
}
.page-node-type-page, .page-node-type-brand {
    .block-mjh_local_tasks {
        padding-top: 38px;
        margin-bottom: -60px;
        position: relative;
        z-index: 1;

        @include breakpoint(large) {
            padding-top: 89px;
            margin-bottom: -80px;
        }
    }
}
.page-node-type-profile {
    .block-mjh_local_tasks {
        @include breakpoint(xl) {
            max-width: 1200px;
            padding-bottom: 30px;
        }
    }
}
// body content
.block-mjh_content {
    margin-bottom: 58px;

    @include breakpoint(large) {
        margin-bottom: 165px;
    }
    .content {
        max-width: 100%;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding: 0 15px;

        &:after {
            content: '';
            clear: both;
            display: block;
        }
        @include breakpoint(large) {
            max-width: 992px;
            width: 100%;
            padding: 0;
        }
    }
    // introduction content
    .node--type-page.node--view-mode-full, .node--type-brand.node--view-mode-full {
        .field--name-field-intro {
            @include Golem;
            color: $OxfordBlue;
            letter-spacing: 0;
            padding: 38px 0 26px;
            line-height: 30px;
            font-family: $EnzoOffcMedium;

            @include breakpoint(large) {
                padding: 89px 0px 53px 0;
                @include Manticore;
            }
        }
        // image field
        .paragraph--type--image {
            margin-bottom: 25px;
            line-height: 0;

            @include breakpoint(large) {
                margin-bottom: 49px;
            }
        }
        // body content
        .paragraph--type--body-copy {
            margin-bottom: 34px;
            @include Zombie;

            @include breakpoint(large) {
                margin-bottom: 19px;
            }
            p {
                padding-bottom: 14px;

                &:last-child {
                    padding-bottom: 0;
                }
            }
            ul {
                margin: 35px 0 0;
                padding: 0;
                list-style: none;

                li {
                    padding-left: 20px;
                    padding-bottom: 12px;
                    position: relative;

                    @include breakpoint(large) {
                        padding-bottom: 10px;
                    }
                    &:before {
                        content: '';
                        width: 10px;
                        height: 10px;
                        background: $DeepSkyBlue;
                        position: absolute;
                        top: 8px;
                        left: 0;
                        border-radius: 100%;
                    }
                    ul {
                        margin-top: 5px;
                    }
                }
            }
            ol {
                padding: 0;
                list-style: inside decimal;

                li {
                    padding-bottom: 12px;

                    ol {
                        margin-top: 5px;
                        margin-left: 20px;
                    }
                }
            }
            blockquote {
                padding-left: 20px;
                margin-left: 0;
                @include Zombie;
                font-family: $EnzoOffcMedium;
                margin-bottom: 50px;
                position: relative;

                @include breakpoint(large) {
                    font-size: 22px;
                    line-height: 32px;
                }
                &:after {
                    position: absolute;
                    content: '';
                    top: 6px;
                    left: 0;
                    width: 7px;
                    background: $DarkGreen;
                    height: -webkit-calc(100% - 15px);
                    height: -moz-calc(100% - 15px);
                    height: calc(100% - 15px);
                    display: block;

                    @include breakpoint(large) {
                        top: 8px;
                    }
                }
                p {
                    margin: 0;
                    padding: 0;
                }
            }
            .align-left {
                float: left;
                margin-right: 20px;
            }
            .align-right {
                float: right;
                margin-left: 20px;
            }
            .table-wrap {
                overflow-x: scroll;

                @include breakpoint(medium) {
                    overflow: hidden;
                }
                table {
                    width: 560px;

                    @include breakpoint(medium) {
                        width: 100%;
                    }
                }
            }
        }
        // call to action button
        .field--name-field-call-to-action a {
            background: $DeepSkyBlue;
            @include Yeti;
            font-family: $EnzoOffcBold;
            color: $White;
            text-transform: uppercase;
            line-height: 26px;
            padding: 20px 24px 19px;
            display: inline-block;
            letter-spacing: 1px;
            margin-bottom: 52px;
            border: 2px solid $DeepSkyBlue;
            @include transition(all 0.15s ease-in-out);

            &:hover {
                background: none;
                color: $DeepSkyBlue;
            }
            @include breakpoint(large) {
                padding: 20px 23px 19px;
                margin-left: -2px;
                margin-bottom: 46px;
            }
        }
        // Quote
        .field--name-field-quote {
            padding-left: 24px;
            @include Mummy;
            position: relative;
            font-family: $EnzoOffcMedium;
            margin-bottom: 50px;

            @include breakpoint(large) {
                padding-left: 26px;
                font-size: 22px;
                line-height: 32px;
                margin-bottom: 50px;
            }
            &:after {
                position: absolute;
                content: '';
                top: 6px;
                left: 0;
                width: 7px;
                background: $DarkGreen;
                height: -webkit-calc(100% - 15px);
                height: -moz-calc(100% - 15px);
                height: calc(100% - 15px);
                display: block;

                @include breakpoint(large) {
                    top: 8px;
                }
            }
        }
        // image and text
        .field--name-field-image-and-text-items {
            margin-bottom: 44px;
            margin-top: 40px;

            @include breakpoint(large) {
                margin-bottom: 50px;
            }
            &> .field__item {
                margin-bottom: 50px;

                @include breakpoint(large) {
                    margin-bottom: 38px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .content {
                padding: 0;
            }
            .field--name-field-image {
                @include breakpoint(large) {
                    width: 310px;
                    float: left;
                    margin-right: 34px;
                }
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .field--name-field-title, .field--name-field-body {
                @include breakpoint(large) {
                    width: 100%;
                    max-width: 648px;
                    display: inline-block;
                    vertical-align: top;
                }
            }
            .field--name-field-title {
                font-family: $EnzoOffcBold;
                @include Manticore;
                letter-spacing: 0.18px;
                margin-top: 12px;
                margin-bottom: 4px;
                color: $DarkGreen;

                a {
                    color: $DeepSkyBlue;
                }
                @include breakpoint(large) {
                    margin-top: 2px;
                }
            }
            .field--name-field-body {
                font-family: $EnzoOffcMedium;
                @include Zombie;
                color: $OxfordBlue;
                letter-spacing: 0;

                ul {
                    margin: 35px 0 0;
                    padding: 0;
                    list-style: none;

                    li {
                        padding-left: 20px;
                        padding-bottom: 12px;
                        position: relative;

                        @include breakpoint(large) {
                            padding-bottom: 10px;
                        }
                        &:before {
                            content: '';
                            width: 10px;
                            height: 10px;
                            background: $DeepSkyBlue;
                            position: absolute;
                            top: 8px;
                            left: 0;
                            border-radius: 100%;
                        }
                        ul {
                            margin-top: 5px;
                        }
                    }
                }
                ol {
                    padding: 0;
                    list-style: inside decimal;

                    li {
                        padding-bottom: 12px;

                        ol {
                            margin-top: 5px;
                            margin-left: 20px;
                        }
                    }
                }
                blockquote {
                    border-left: 7px solid $DarkGreen;
                    padding-left: 20px;
                    margin-left: 0;
                    @include Zombie;
                    font-family: $EnzoOffcMedium;
                    margin-bottom: 50px;

                    p {
                        margin: 0;
                        padding: 0;
                    }
                }
                .align-left {
                    float: left;
                    margin-right: 20px;
                }
                .align-right {
                    float: right;
                    margin-left: 20px;
                }
                .table-wrap {
                    overflow-x: scroll;

                    @media (min-width:560px) {
                        overflow: hidden;
                    }
                    table {
                        width: 560px;

                        @include breakpoint(medium) {
                            width: 100%;
                        }
                    }
                }
            }
        }
        // accordian
        .paragraph--type--accordion {
            margin-bottom: 59px;

            @include breakpoint(large) {
                margin-bottom: 84px;
            }
            .show-all, .close-all {
                font-family: $EnzoOffcBold;
                @include Yeti;
                color: $DarkGreen;
                letter-spacing: 1px;
                text-align: right;
                text-decoration: underline;
                padding-bottom: 15px;
                text-transform: uppercase;
                cursor: pointer;
                @include transition(all 0.15s ease-in-out);

                @include breakpoint(large) {
                    padding-bottom: 12px;
                }
                &:hover {
                    color: $DeepSkyBlue;
                }
            }
            .content {
                padding: 0;
            }
            .field--name-field-accordion-items {
                .field__item:last-child {
                    .field--name-field-title {
                        margin-bottom: 0;
                    }
                    .field--name-field-body, .field--name-field-body p:last-child {
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                }
            }
            .field--name-field-title {
                background: $Geyser;
                padding: 25px 50px 20px 16px;
                margin-bottom: 5px;
                font-family: $EnzoOffcMedium;
                @include Mummy;
                color: $DarkGreen;
                letter-spacing: 0;
                line-height: 28px;
                position: relative;
                cursor: pointer;
                @include transition(all 0.15s ease-in-out);

                @include breakpoint(large) {
                    padding: 25px 34px 20px;
                    margin-bottom: 8px;
                    font-family: $EnzoOffcBold;
                    font-size: 22px;
                }
                &:after {
                    content: '\f077';
                    @include iconfont;
                    color: $DarkGreen;
                    position: absolute;
                    right: 13px;
                    top: 50%;
                    @include transform(translateY(-50%));

                    @include breakpoint(large) {
                        right: 34px;
                    }
                }
                &.active {
                    background: $Geyser;
                    color: $OxfordBlue;
                    margin-bottom: 0;

                    &:after {
                        content: '\f078';
                        color: $DeepSkyBlue;
                    }
                }
                &:hover {
                    background: $Geyser;
                    color: $OxfordBlue;

                    &:after {
                        color: $DeepSkyBlue;
                    }
                }
            }
            .field--name-field-body {
                display: none;
                font-family: $EnzoOffcMedium;
                @include Zombie;
                color: $OxfordBlue;
                letter-spacing: 0;
                padding-top: 23px;
                margin-bottom: 7px;
                background: $White;

                @include breakpoint(large) {
                    padding: 23px 34px 0;
                    margin-bottom: 14px;
                    font-family: $HelveticaNeueLTProRoman;
                }
                p {
                    padding-bottom: 14px;
                }
                ul {
                    margin: 35px 0 0;
                    padding: 0;
                    list-style: none;

                    li {
                        padding-left: 20px;
                        padding-bottom: 12px;
                        position: relative;

                        @include breakpoint(large) {
                            padding-bottom: 10px;
                        }
                        &:before {
                            content: '';
                            width: 10px;
                            height: 10px;
                            background: $DeepSkyBlue;
                            position: absolute;
                            top: 8px;
                            left: 0;
                            border-radius: 100%;
                        }
                        ul {
                            margin-top: 5px;
                        }
                    }
                }
                ol {
                    padding: 0;
                    list-style: inside decimal;

                    li {
                        padding-bottom: 12px;

                        ol {
                            margin-top: 5px;
                            margin-left: 20px;
                        }
                    }
                }
                blockquote {
                    padding-left: 20px;
                    margin-left: 0;
                    @include Zombie;
                    font-family: $EnzoOffcMedium;
                    margin-bottom: 50px;
                    position: relative;

                    @include breakpoint(large) {
                        font-size: 22px;
                        line-height: 32px;
                    }
                    &:after {
                        position: absolute;
                        content: '';
                        top: 6px;
                        left: 0;
                        width: 7px;
                        background: $DarkGreen;
                        height: -webkit-calc(100% - 15px);
                        height: -moz-calc(100% - 15px);
                        height: calc(100% - 15px);
                        display: block;

                        @include breakpoint(large) {
                            top: 8px;
                        }
                    }
                    p {
                        margin: 0;
                        padding: 0;
                    }
                }
                .align-left {
                    float: left;
                    margin-right: 20px;
                }
                .align-right {
                    float: right;
                    margin-left: 20px;
                }
                .table-wrap {
                    overflow-x: scroll;

                    @media (min-width:560px) {
                        overflow: hidden;
                    }
                    table {
                        width: 560px;

                        @include breakpoint(medium) {
                            width: 100%;
                        }
                    }
                }
            }
        }
        // Video
        .paragraph--type--video {
            margin: 25px 0;
        }
        // GEt in touch form
        .paragraph--type--web-form {
            border-left: 2px solid $Geyser;
            border-right: 2px solid $Geyser;
            border-bottom: 2px solid $Geyser;
            text-align: center;
            padding-top: 69px;
            padding-left: 15px;
            padding-right: 15px;
            position: relative;
            @extend %clearfix;
            margin-bottom: 50px;
            background: $White;

            @include breakpoint(large) {
                padding-top: 74px;
            }
            &:before {
                content: '';
                width: -webkit-calc(100% + 2px);
                width: -moz-calc(100% + 2px);
                width: calc(100% + 2px);
                position: absolute;
                left: -1px;
                top: 0;
                right: 0;
                height: 10px;
                background: $DarkGreen;
                display: block;

                @include breakpoint(large) {
                    height: 12px;
                }
            }
            .form-left {
                width: 100%;
                margin-bottom: 8px;

                @include breakpoint(large) {
                    width: 46%;
                    float: left;
                }
                &:after {
                    content: '';
                    width: 92px;
                    height: 92px;
                    background-image: url('../../images/message.svg');
                    display: inline-block;
                    background-size: 92px 92px;
                    margin-top: 21px;

                    @include breakpoint(large) {
                        width: 146px;
                        height: 146px;
                        background-size: 146px 146px;
                        margin-top: 30px;
                    }
                }
            }
            .field--name-field-title {
                font-family: $EnzoOffcBold;
                font-size: 40px;
                line-height: 49px;
                color: $DarkGreen;
                letter-spacing: 0.31px;
                padding-bottom: 19px;

                @include breakpoint(large) {
                    max-width: 364px;
                    margin: 0 auto;
                }
            }
            .field--name-field-text {
                @include Zombie;
                color: $MineShaft;
                letter-spacing: 0;

                @include breakpoint(large) {
                    max-width: 277px;
                    margin: 0 auto;
                }
            }
            .form-right {
                width: 100%;

                @include breakpoint(large) {
                    width: 52%;
                    float: right;
                    text-align: left;
                }
                .form-item {
                    margin-bottom: 20px;
                }
                .contact-message-book-an-appointment-form {
                    @include breakpoint(large) {
                        margin-top: -38px;
                    }
                }
            }
            label {
                text-align: left;
                display: block;
                font-family: $EnzoOffcBold;
                font-size: 12px;
                color: $ShuttleGrey;
                letter-spacing: 0.85px;
                text-transform: uppercase;
                padding-bottom: 3px;

                &.error {
                    color: $DarkGreen;
                }
            }
            input {
                width: 100%;
                border: 2px solid $Geyser;
                height: 63px;
                -webkit-appearance: none;
                border-radius: 0;
                background: #F0F2F3;
                @include transition(border 0.5s ease);

                &.error {
                    border: 2px solid $DarkGreen;
                }
                &:focus {
                    border: 2px solid $DarkGreen;
                }
                @include breakpoint(large) {
                    max-width: 403px;
                }
                &.form-submit {
                    background: $DeepSkyBlue;
                    @include Yeti;
                    font-family: $EnzoOffcBold;
                    color: $White;
                    text-transform: uppercase;
                    line-height: 58px;
                    height: 60px;
                    padding: 0  14px;
                    display: inline-block;
                    letter-spacing: 1px;
                    margin-top: 3px;
                    width: 180px;
                    border: none;
                    float: left;
                    margin-bottom: 32px;
                    border: 2px solid $DeepSkyBlue;
                    @include transition(all 0.15s ease-in-out);

                    &:hover {
                        background: none;
                        color: $DeepSkyBlue;
                    }
                    @include breakpoint(large) {
                        padding: 0 25px;
                        margin-left: 3px;
                    }
                }
            }
        }
    }
}
// web form on book an appointment page
.book-an-appointment-content-wrap {
    .block-mjh_content .node--type-page.node--view-mode-full {
        .paragraph--type--web-form {
            margin-top: 22px;
        }
    }
}
.block-mjh_content .node--type-page.node--view-mode-full .field__item:first-child {
    .field--name-field-quote {
        margin-top: 0;
    }
}
.block-mjh_content .node--type-page.node--view-mode-full .field__item:last-child {
    .paragraph--type--image, .paragraph--type--body-copy, .field--name-field-call-to-action a, .field--name-field-image-and-text-items, .field--name-field-quote, .paragraph--type--web-form, .paragraph--type--accordion {
        margin-bottom: 0;
    }
}