// body content

.path-contact-us .block-mjh_content {
    margin-bottom: 50px;
    padding-top: 59px;

    @include breakpoint(large) {
        margin-bottom: 165px;
        padding-top: 97px;
    }
    .content {
        max-width: 100%;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding: 0 15px;

        &:after {
            content: '';
            clear: both;
            display: block;
        }
        @include breakpoint(large) {
            max-width: 1200px;
            width: 100%;
            padding: 0 15px;
        }
        @include breakpoint(xl) {
            padding: 0;
        }
    }
    .field--name-field-intro {
        @include Golem;
        color: $OxfordBlue;
        letter-spacing: 0;
        padding: 0 0 14px;
        line-height: 30px;

        @include breakpoint(large) {
            padding: 0 0px 53px 0;
            line-height: 32px;
        }
        @include breakpoint(xl) {
            max-width: 992px;
            width: 100%;
        }
    }
}
.view-offices {
    .view-content {
        @include breakpoint(large) {
            max-width: 55%;
            float: left;
            width: 100%;
        }
        @include breakpoint(xl) {
            width: 100%;
            max-width: 680px;
        }
        .views-row {
            padding-left: 3px;
            padding-bottom: 38px;
            border-bottom: 1px solid $Geyser;
            margin-bottom: 36px;

            &:last-child {
                border-bottom: none;
                margin-bottom: 0;
            }
            @include breakpoint(large) {
                padding-left: 4px;
            }
        }
        .field--name-node-title {
            h2 {
                font-family: $EnzoOffcBold;
                @include Kraken;
                line-height: 40px;
                color: $DarkGreen;
                letter-spacing: 0;
                margin-bottom: 13px;
            }
        }
        .field--label-above {
            margin-bottom: 20px;

            @include breakpoint(medium) {
                width: 100%;
                max-width: 286px;
                float: left;
                clear: both;
                margin-right: 20px;
            }
            .field__label {
                font-family: $EnzoOffcBold;
                font-size: 14px;
                color: $ShuttleGrey;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-weight: normal;
            }
            .field__item {
                @include Zombie;
                color: $OxfordBlue;
                letter-spacing: 0;
                margin-top: 2px;

                a {
                    color: $OxfordBlue;
                }
            }
        }
        .direction-cta {
            @include breakpoint(medium) {
                width: 100%;
                max-width: 286px;
                float: left;
                clear: both;
                margin-right: 20px;
            }
            a {
                border: 2px solid $DeepSkyBlue;
                @include Yeti;
                font-family: $EnzoOffcBold;
                color: $DeepSkyBlue;
                text-transform: uppercase;
                line-height: 46px;
                height: 50px;
                padding: 0 19px;
                display: inline-block;
                letter-spacing: 1px;
                margin-top: 2px;
                margin-left: -3px;
                @include transition(all 0.15s ease-in-out);

                &:hover {
                    background: $DeepSkyBlue;
                    color: $White;
                }
            }
        }
        .field--name-dg-offices-address-map {
            margin-top: 29px;

            @include breakpoint(medium) {
                width: 100%;
                max-width: 370px;
                display: inline-block;
                vertical-align: top;
            }
            @include breakpoint(large) {
                max-width: 100%;
                width: 100%;
            }
            @include breakpoint(xl) {
                max-width: 370px;
                margin-top: 9px;
            }
            .map-data-generate {
                width: 100% !important;
                height: 181px !important;

                @include breakpoint(medium) {
                    height: 233px !important;
                }
            }
            .gmnoprint, .gm-style-cc {
                display: none;
            }
            img[src='https://maps.gstatic.com/mapfiles/api-3/images/google4.png'] {
                display: none;
            }
        }
    }
    .view-footer {
        border-left: 2px solid $Geyser;
        border-right: 2px solid $Geyser;
        border-bottom: 2px solid $Geyser;
        text-align: center;
        background: $White;
        padding-top: 69px;
        position: relative;
        margin-top: 29px;
        @extend %clearfix;

        @include breakpoint(large) {
            max-width: 40%;
            padding-top: 67px;
            float: right;
            margin-top: 0px;
        }
        @include breakpoint(xl) {
            width: 100%;
            max-width: 475px;
        }
        @media only screen and (max-width:1320px) {
            margin-right: 0;
        }
        &:before {
            content: '';
            width: -webkit-calc(100% + 2px);
            width: -moz-calc(100% + 2px);
            width: calc(100% + 2px);
            position: absolute;
            left: -1px;
            top: 0;
            height: 12px;
            background: $DarkGreen;
            display: block;
        }
        .field--name-body {
            padding: 0 15px;
            @include Zombie;

            @include breakpoint(large) {
                padding: 0;
                max-width: 360px;
                width: 100%;
                margin: 0 auto;
            }
            &:after {
                content: '';
                width: 92px;
                height: 92px;
                background-image: url('../../images/message.svg');
                display: inline-block;
                background-size: 92px 92px;
                margin-top: 21px;

                @include breakpoint(large) {
                    width: 146px;
                    height: 146px;
                    background-size: 146px 146px;
                    margin-top: 13px;
                }
            }
        }
        .field--name-field-title {
            font-family: $EnzoOffcBold;
            font-size: 40px;
            color: $DarkGreen;
            letter-spacing: 0.31px;
            padding-bottom: 22px;

            @include breakpoint(large) {
                max-width: 364px;
                margin: 0 auto;
            }
        }
        .field--name-field-text {
            @include Zombie;
            color: $MineShaft;
            letter-spacing: 0;

            @include breakpoint(large) {
                max-width: 277px;
                margin: 0 auto;
            }
        }
        .contact-message-contact-form-form {
            padding: 0 15px;
            display: inline-block;
            padding-top: 6px;

            @include breakpoint(large) {
                margin-top: 9px;
                padding: 0 34px;
            }
            .form-item {
                margin-bottom: 20px;

                @include breakpoint(large) {
                    margin-bottom: 22px;
                }
            }
        }
        label {
            text-align: left;
            display: block;
            font-family: $EnzoOffcBold;
            font-size: 12px;
            color: $ShuttleGrey;
            letter-spacing: 0.85px;
            text-transform: uppercase;
            padding-bottom: 3px;

            &.error {
                color: $DarkGreen;
            }
        }
        input, textarea {
            width: 100%;
            border: 2px solid $Geyser;
            height: 63px;
            -webkit-appearance: none;
            border-radius: 0;
            background: #F0F2F3;
            @include transition(border 0.5s ease);

            &.error {
                border: 2px solid $DarkGreen;
            }
            &:focus {
                border: 2px solid $DarkGreen;
            }
            &.form-submit {
                background: $DeepSkyBlue;
                @include Yeti;
                font-family: $EnzoOffcBold;
                color: $White;
                text-transform: uppercase;
                line-height: 60px;
                height: 60px;
                padding: 0  14px;
                display: inline-block;
                letter-spacing: 1px;
                margin-top: 10px;
                width: 180px;
                border: none;
                float: left;
                margin-bottom: 60px;
                margin-left: -2px;
                border: 2px solid $DeepSkyBlue;
                @include transition(all 0.15s ease-in-out);

                &:hover {
                    background: none;
                    color: $DeepSkyBlue;
                }
                @include breakpoint(large) {
                    padding: 0 25px;
                    margin-left: -1px;
                    margin-top: 1px;
                }
            }
        }
        textarea {
            height: 240px;
            padding: 10px;

            @include breakpoint(large) {
                height: 246px;
            }
        }
    }
}