.top-footer {
    @extend %clearfix;
    background: -webkit-linear-gradient(90deg, #003E5A 0%, #00AEEF 100%);
    background: -o-linear-gradient(90deg, #003E5A 0%, #00AEEF 100%);
    background: -moz-linear-gradient(90deg, #003E5A 0%, #00AEEF 100%);
    background-image: linear-gradient(90deg, #003E5A 0%, #00AEEF 100%);
    padding: 32px 0 37px;
    color: $White;
    text-align: center;

    @include breakpoint(medium) {
        text-align: left;
        padding: 38px 0 31px;
    }
    .footer-top-left {
        width: 100%;

        @include breakpoint(medium) {
            width: 60%;
            float: left;
            padding-left: 19px;
        }
    }
    .footer-top-right {
        width: 100%;

        @include breakpoint(medium) {
            width: 40%;
            float: right;
            text-align: right;
        }
    }
    .block-mjh_addressblock {
        h2 {
            font-family: $EnzoOffcBold;
            @include Nessie;
            color: $White;
            letter-spacing: 1.14px;
            text-transform: uppercase;
        }
        .content {
            margin-top: 13px;

            @include breakpoint(medium) {
                margin-top: 3px;

                .field--name-field-body-copy-footer {
                    display: inline-block;
                    vertical-align: top;
                }
            }
            .field--name-field-secondary-body-copy {
                padding-top: 8px;
                line-height: 26px;

                @include breakpoint(medium) {
                    margin-top: -31px;
                    display: inline-block;
                    vertical-align: top;
                    padding-left: 60px;
                    padding-top: 0;
                }
                @include breakpoint(large) {
                    padding-left: 30px;
                }
                strong {
                    font-family: $EnzoOffcBold;
                    font-weight: normal;
                }
                a {
                    color: $White;
                }
            }
        }
    }
    .block-mjh_socialplatformsblock {
        display: inline-block;
        width: 100%;
        margin-top: 29px;

        @include breakpoint(medium) {
            margin-top: 4px;
        }
        @include breakpoint(large) {
            margin-top: -5px;
        }
        ul.dg-social-platforms-block li {
            display: inline-block;
            list-style: none;
            width: 44px;
            height: 41px;
            font-size: 0;
            margin-right: 15px;
            background: $CatalinaBlue;

            @include transition(border-radius 0.5s ease)

            &:hover {
                border-radius: 5px;
            }
            &:last-child {
                margin-right: 0;
            }
            @include breakpoint(medium) {
                text-align: center;
            }
            a {
                width: 44px;
                height: 41px;
                display: block;
            }
            a:after {
                @include iconfont;
                color: $White;
                font-size: 23px;
                line-height: 41px;
                text-align: center;
            }
            &.dg-social-platforms-block__item--facebook {
                a:after {
                    content: '\f09a';
                }
            }
            &.dg-social-platforms-block__item--twitter {
                a:after {
                    content: '\f099';
                }
            }
            &.dg-social-platforms-block__item--linkedin {
                a:after {
                    content: '\f0e1';
                }
            }
            &.dg-social-platforms-block__item--google-plus {
                a:after {
                    content: '\f0d5';
                }
            }
        }
    }
    .block-menu {
        display: inline-block;
        width: 100%;
        margin-top: 25px;

        @include breakpoint(medium) {
            margin-top: 15px;
        }
        ul.menu {
            text-align: right;
        }
        ul.menu li {
            display: list-item;
            list-style: none;
            clear: both;
            text-align: center;
            margin-bottom: 10px;

            @include breakpoint(medium) {
                display: inline-block;
                clear: none;
            }
            a {
                color: $White;
                text-decoration: underline;

                @include breakpoint(medium) {
                    border-right: 1px solid $White;
                    padding: 0 8px;
                }
                &:hover {
                    text-decoration: none;
                    color: $CatalinaBlue;
                }
            }
            &:last-child a {
                padding-right: 0;
                border-right: none;
            }
        }
    }
    .field--name-field-company-url {
        padding-top: 3px;

        @include breakpoint(large) {
            padding-top: 0;
        }
        &:after {
            content: '\e903';
            @include iconfont;
            margin-left: 10px;
            color: $White;
            font-size: 12px;
            vertical-align: middle;
        }
        &:hover {
            &:after, a {
                color: $CatalinaBlue;
            }
        }
        a {
            color: $White;
        }
    }
}
.bottom-footer {
    text-align: center;
    padding: 30px 0;
    @include Yeti;

    @include breakpoint(large) {
        padding-bottom: 10px;
    }
    code {
        font-family: $EnzoOffcMedium;
        color: $OxfordBlue;
    }
    .field--name-field-logo {
        width: 97px;
        margin: 0 auto 22px;

        @include breakpoint(large) {
            float: left;
            margin-left: 0;
        }
    }
    .block-mjh_secondarymenu {
        margin-bottom: 2px;

        @include breakpoint(large) {
            float: left;
            width: -webkit-calc(100% - 115px);
            width: -moz-calc(100% - 115px);
            width: calc(100% - 115px);
        }
        ul {
            margin: 0;

            @include breakpoint(large) {
                padding-left: 22px;
                margin-top: 13px;
            }
        }
        li {
            text-align: center;

            @include breakpoint(large) {
                text-align: left;
            }
            a {
                color: $OxfordBlue;
            }
        }
    }
    .copyright {
        margin-top: 3px;
        text-align: center;
        line-height: 22px;
        width: 100%;

        @include breakpoint(large) {
            text-align: left;
            float: left;
            padding-left: 22px;
            width: -webkit-calc(100% - 115px);
            width: -moz-calc(100% - 115px);
            width: calc(100% - 115px);
            margin-top: 15px;

            p {
                margin-bottom: 3px
            }
        }
    }
}