body {
}
#page-wrapper {
    @include breakpoint(large) {
        padding-top: 128px;
    }
}
.header {
    background-color: $White;
    width: 100%;
    z-index: 501;
    padding: 29px 0 0px;

    @include breakpoint(large) {
        position: fixed;
        left: 0;
        top: 0;
        padding: 17px 0 10px;
    }
    &.fix-header {
        @include breakpoint(large) {
            position: fixed;
            left: 0;
            top: 0;
        }
        &.header-up {
            top: -220px;
        }
        .user-logged-in & {
        }
        &.open {
            height: 100%;
            overflow: scroll;
        }
    }
    &.open {
    }
    .user-logged-in & {
        top: 40px;
    }
    .user-logged-in.toolbar-horizontal.toolbar-tray-open & {
        top: 80px;
    }
}
.header-left {
    width: 100%;
    float: left;
    height: 80px;

    @include breakpoint(large) {
        width: auto;
        height: auto;
    }
    .region-header-left {
        width: 86px;
        float: left;

        @include breakpoint(large) {
            width: 129px;
            margin-left: 0;
            @include transition(all 0.7s ease-in-out);
        }
        @include breakpoint(xl) {
            margin-left: 5px;
        }
    }
    .block-mjh_headerlogoblock {
        .field--name-field-sticky-logo {
            position: absolute;
            top: 0;
            opacity: 0;
            visibility: hidden;
            @include transition(all 0.7s ease-in-out);
        }
    }
    #nav-btn {
        width: 38px;
        height: 22px;
        margin-top: 20px;
        margin-right: 15px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        float: right;

        @include breakpoint(large) {
            display: none;
        }
    }
    #nav-btn span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: $DarkGreen;
        border-radius: 0;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    #nav-btn span:nth-child(1) {
        top: 0px;
    }
    #nav-btn span:nth-child(2), #nav-btn span:nth-child(3) {
        top: 9px;
    }
    #nav-btn span:nth-child(4) {
        top: 18px;
    }
    #nav-btn.open {
        width: 22px;
    }
    #nav-btn.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    #nav-btn.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    #nav-btn.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    #nav-btn.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
}
.header-right {
    display: none;

    @include breakpoint(large) {
        display: block;
        padding-top: 42px;
        width: -webkit-calc(100% - 185px);
        width: -moz-calc(100% - 185px);
        width: -o-calc(100% - 185px);
        width: -ms-calc(100% - 185px);
        width: calc(100% - 185px);
        @include transition(padding-top 0.5s ease);
    }
    @include breakpoint(xl) {
        max-width: 1000px;
        width: 100%;
    }
    &.open {
        display: block;
        width: 100%;
        padding-bottom: 25px;
    }
    .menu--primary-menu {
        @include breakpoint(large) {
            display: inline-block;
            width: 84%;
            text-align: center;
        }
    }
    .menu--primary-menu .menu {
        margin-left: 0;
        padding: 0px 0;
        margin: 14px -15px 0px;
        border-top: 1px solid $Geyser;

        @include breakpoint(large) {
            padding: 0;
            border-top: none;
            margin: 14px 0 14px;
        }
        li {
            display: block;
            padding-bottom: 10px;
            padding-top: 10px;
            position: relative;
            font-size: 0;
            border-bottom: 1px solid $Geyser;

            &:last-child {
                border-bottom: none;
            }
            @include breakpoint(large) {
                display: inline;
                border-bottom: none;
                padding-bottom: 36px;
            }
            a {
                padding: 0 15px;
                font-family: $EnzoOffcBold;
                font-size: 16px;
                color: $OxfordBlue;
                letter-spacing: 0;
                display: block;

                @include breakpoint(large) {
                    display: inline-block;
                    padding: 0 70px 0 0;
                    line-height: 24px;
                    font-size: 20px;
                }
                &:hover, &.is-active {
                    color: $DeepSkyBlue;

                    @include breakpoint(large) {
                        color: $DeepSkyBlue;
                    }
                }
            }
            &.menu-item--expanded {
                ul {
                    width: 100%;
                    display: none;
                    padding: 0;

                    @include breakpoint(large) {
                        position: absolute;
                        top: 100%;
                        left: 8px;
                        background: $White;
                        width: 300px;
                        padding: 10px 0;
                        visibility: hidden;
                        margin-top: 0;
                        opacity: 0;
                        display: block;
                        z-index: 9999;
                        transition: all 0.5s ease;
                    }
                    @include breakpoint(xl) {
                        left: 23px;
                    }
                    &.drop-menu-open {
                        display: inline-block;
                        visibility: visible;
                        opacity: 1;
                        margin: 14px 0 -23px;
                    }
                    li {
                        float: left;
                        clear: both;
                        width: 100%;
                        padding-bottom: 10px;

                        &:hover {
                            background: none;
                            position: relative;

                            a, a.is-active {
                            }
                        }
                        a {
                            color: $OxfordBlue;
                            padding: 0px 16px;
                            display: block;
                            @include Yeti;

                            @include breakpoint(large) {
                                color: $Black;
                                padding: 0 16px;
                                text-align: left;
                                font-size: 16px;
                            }
                            &:after {
                                content: none;
                            }
                            &:hover {
                                color: $DeepSkyBlue;

                                @inlcude breakpoint(large) {
                                    color: $DeepSkyBlue;
                                }
                            }
                        }
                    }
                }
                &:hover {
                    ul {
                        @include breakpoint(large) {
                            top: 100%;
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
                &.active {
                    ul {
                        display: block;
                    }
                }
            }
            &:first-child {
                &.menu-item--expanded {
                    ul {
                        left: 0;
                    }
                }
                a {
                    @include breakpoint(large) {
                        padding-left: 0;
                    }
                }
            }
            &:last-child a {
                padding-right: 0;
            }
            i.submenu-trigger {
                position: absolute;
                top: 0;
                width: 50px;
                height: 50px;
                line-height: 50px;
                right: 15px;
                text-align: center;
                font-size: 24px;
                cursor: pointer;
                color: $OxfordBlue;

                @include breakpoint(large) {
                    display: none;
                }
                &:after {
                    content: '\f107';
                    @include iconfont;
                }
                &.open {
                    &:after {
                        content: '\f106';
                    }
                }
            }
        }
    }
    #block-mjh-phoneblock {
        border-top: 1px solid $Geyser;
        margin-right: -15px;
        margin-left: -15px;
        padding: 25px 15px;

        @include breakpoint(large) {
            margin-right: 0px;
            float: right;
            padding: 0;
            border-top: none;
            margin-top: 15px;
        }
        @include breakpoint(xl) {
            float: right;
        }
        .field--name-field-phone {
            a {
                font-family: $EnzoOTBold;
                font-size: 18px;
                color: $OxfordBlue;
                letter-spacing: 0;
                line-height: 22px;

                &:before {
                    content: '\e90c';
                    @include iconfont;
                    color: $DeepSkyBlue;
                    margin-right: 3px;
                    vertical-align: middle;
                    font-size: 18px;
                    font-weight: normal;

                    @include breakpoint(large) {
                        color: $DeepSkyBlue;
                    }
                }
            }
        }
    }
}
.path-frontpage {
}
.fix-header {
    .user-logged-in & {
        top: 0;

        @include breakpoint(large) {
            top: 40px;
        }
    }
}