.front-slider {
    min-height: 229px;

    @include breakpoint(medium) {
        min-height: 650px;
        max-height: 650px;
        overflow: hidden;
    }
    @include breakpoint(xl) {
        min-height: 682px;
        max-height: 682px;
    }
    .contextual {
        top: 215px;
    }
    .slider-img {
        min-height: 229px;
        background-size: cover;
        position: relative;

        @include breakpoint(medium) {
            min-height: 650px;
        }
        @include breakpoint(xl) {
            min-height: 682px;
        }
    }
    .owl-wrapper {
        .item {
            position: relative;
            min-height: 229px;

            &:nth-child(n+2) {
                display: none;
            }
            @include breakpoint(medium) {
                min-height: 650px;
            }
            @include breakpoint(xl) {
                min-height: 682px;
            }
            .carousel-content {
                margin-top: 54px;
                padding: 50px 0px;
                background-image: url('../../images/page-bg-mobile.svg');
                background-repeat: no-repeat;
                background-position: center top;

                @include breakpoint(medium) {
                    background-image: none;
                    max-width: 620px;
                    position: absolute;
                    bottom: 95px;
                    padding: 44px 51px 49px;
                    left: 75px;
                    background: rgba(0, 22, 34, 0.53);
                    margin-top: 0;
                }
                @include breakpoint(large) {
                    max-width: 661px;
                    left: 110px;
                    bottom: 175px;
                    min-height: 376px;
                }
                .carousel-title {
                    font-family: $EnzoOTBold;
                    font-size: 32px;
                    line-height: 42px;
                    color: $OxfordBlue;
                    letter-spacing: 0;
                    margin-bottom: 9px;
                    position: relative;
                    z-index: 1;

                    @include breakpoint(medium) {
                        color: $White;
                        margin-bottom: 19px;
                        font-size: 45px;
                        line-height: 50px;
                    }
                }
                .carousel-text {
                    position: relative;
                    z-index: 1;
                    @include Zombie;

                    @include breakpoint(medium) {
                        color: $White;
                    }
                }
                a.carousel-link {
                    background: $DeepSkyBlue;
                    @include Yeti;
                    font-family: $EnzoOffcBold;
                    color: $White;
                    text-transform: uppercase;
                    line-height: 56px;
                    height: 60px;
                    padding: 0  24px;
                    display: inline-block;
                    letter-spacing: 1px;
                    margin-top: 25px;
                    position: relative;
                    border: 2px solid $DeepSkyBlue;
                    z-index: 1;
                    @include transition(all 0.5s ease);

                    &:hover {
                        background: transparent;
                        border: 2px solid $DeepSkyBlue;
                        color: $DeepSkyBlue;
                        @include transition(all 0.15s ease-in-out);
                    }
                    @include breakpoint(medium) {
                        line-height: 46px;
                        height: 50px;
                        padding: 0 31px;
                        margin-top: 29px;
                    }
                }
            }
        }
    }
    .owl-controls {
        background: rgba(0, 0, 0, 0.51);
        padding: 20px;
        position: absolute;
        height: 65px;
        width: 100%;
        top: 229px;
        left: 0;

        @include breakpoint(medium) {
            position: static;
            background: none;
            margin-top: -58px;
            background: none;
        }
        .owl-buttons .owl-prev {
            font-size: 0;
            width: 65px;
            height: 65px;
            position: absolute;
            top: 0;
            left: 19px;

            @include breakpoint(medium) {
                top: 47%;
                left: 0;
                text-align: center;
                background: rgba(0, 0, 0, 0.51);
                @include transition(background 0.15s ease-in-out);
            }
            &:hover {
                @include breakpoint(large) {
                    background: rgba(0, 0, 0, 1);
                }
            }
            &:after {
                content: '\e900';
                @include iconfont;
                color: $White;
                width: 100%;
                height: 100%;
                line-height: 65px;
                font-size: 29px;

                @include breakpoint(large) {
                    margin-left: -8px;
                }
            }
        }
        .owl-buttons .owl-next {
            font-size: 0;
            width: 65px;
            height: 65px;
            position: absolute;
            top: 0;
            right: 23px;
            text-align: right;

            @include breakpoint(medium) {
                top: 47%;
                right: 0;
                text-align: center;
                background: rgba(0, 0, 0, 0.51);
                @include transition(background 0.15s ease-in-out);
            }
            &:hover {
                @include breakpoint(large) {
                    background: rgba(0, 0, 0, 1);
                }
            }
            &:after {
                content: '\e908';
                @include iconfont;
                color: $White;
                width: 100%;
                height: 100%;
                line-height: 65px;
                font-size: 29px;

                @include breakpoint(large) {
                    margin-right: -8px;
                }
            }
        }
        .owl-pagination {
            max-width: 150px;
            margin: 0 auto;
            text-align: center;

            @include breakpoint(medium) {
                position: relative;
            }
        }
        .owl-page {
            display: inline-block;

            span {
                width: 11px;
                height: 11px;
                background: $White;
                display: inline-block;
                margin-right: 11px;
                border-radius: 100%;
                border: 2px solid $White;
            }
            &.active {
                span {
                    background: none;
                }
            }
        }
    }
}
.intro_block {
    max-width: 1018px;
    margin: 20px auto 10px;
    @include Golem;
    padding-bottom: 53px;

    @include breakpoint(medium) {
        text-align: center;
        padding: 72px 0 74px;
        margin: 0 auto;
    }
    .field--name-field-title {
        font-size: 24px;
        line-height: 29px;
        font-family: $EnzoOTBold;
        margin-bottom: 10px;
    }
}
.featured_block {
    margin: 0 -15px;
    @extend %clearfix;

    @include breakpoint(large) {
        margin: 0;
    }
    .field--name-field-featured-item-primary > .field__item {
        background: -webkit-linear-gradient(135deg, #003E5A 0%, #076B99 100%);
        background: -o-linear-gradient(135deg, #003E5A 0%, #076B99 100%);
        background: -moz-linear-gradient(135deg, #003E5A 0%, #076B99 100%);
        background: linear-gradient(135deg, #003E5A 0%, #076B99 100%);
        padding: 47px 15px 38px;
        color: $White;
        margin-bottom: 37px;

        @include breakpoint(large) {
        }
        .field--name-field-title {
            font-family: $EnzoOTBold;
            @include Kraken;
            letter-spacing: 0.25px;
            margin-bottom: 18px;

            @include breakpoint(large) {
                letter-spacing: 0;
            }
        }
        .field--type-string-long {
            line-height: 26px;

            @include breakpoint(large) {
                max-width: 477px;
            }
        }
        .field--name-field-read-more a {
            border: 2px solid $DeepSkyBlue;
            @include Yeti;
            font-family: $EnzoOTBold;
            text-transform: uppercase;
            line-height: 46px;
            height: 50px;
            padding: 0 23px;
            display: inline-block;
            letter-spacing: 1px;
            margin-top: 46px;
            color: $DeepSkyBlue;
            @include transition(all 0.15s ease-in-out);

            &:hover {
                background: $DeepSkyBlue;
                color: $White;
            }
            @include breakpoint(large) {
                margin-top: 28px;
            }
        }
        @include breakpoint(large) {
            width: 48.3%;
            margin-bottom: 0;
            position: relative;
            padding: 45px 52px 52px;
            margin-top: 40px;
        }
        &:first-child, &:nth-child(2) {
            margin-top: 0;
        }
        &:nth-child(odd) {
            float: left;
        }
        &:nth-child(even) {
            float: right;
        }
    }
}
.secondary_featured_block {
    padding-top: 22px;
    @extend %clearfix;
    padding-bottom: 44px;

    @include breakpoint(large) {
        padding-top: 100px;
        padding-bottom: 67px;
    }
    .field--name-field-featured-item > .field__item {
        text-align: center;
        border-bottom: 1px solid $Geyser;
        margin-bottom: 34px;

        &:nth-child(even) {
            @include breakpoint(medium) {
                border-right: none;
            }
            @include breakpoint(large) {
                border-right: 1px solid $Geyser;
            }
        }
        &:last-child, &:nth-last-child(2) {
            @include breakpoint(medium) {
                border-bottom: none;
            }
        }
        &:last-child {
            border: none;

            @include breakpoint(large) {
                border-right: none;
            }
        }
        @include breakpoint(medium) {
            width: 50%;
            float: left;
            border-right: 1px solid $Geyser;
            margin-bottom: 0px;
            padding: 30px 30px 0;
        }
        @include breakpoint(large) {
            width: 25%;
            float: left;
            border-right: 1px solid $Geyser;
            border-bottom: none;
            padding: 0px 15px 0;
        }
        @include breakpoint(large) {
            padding: 0 46px;
            margin-bottom: 30px;

            &:nth-child(4n) {
                border-right: none;
            }
            &:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                padding-top: 0;
            }
        }
    }
    .field--name-field-image {
        width: 74px;
        height: 74px;
        border-radius: 100%;
        text-align: center;
        margin: 0 auto 20px;

        @include breakpoint(large) {
            width: 98px;
            height: 98px;
            margin-bottom: 30px;
        }
        img {
            vertical-align: middle;
            border-radius: 100%;
            width: 100%;
            height: 100%;
        }
    }
    .field--name-field-title {
        font-family: $EnzoOTBold;
        font-size: 22px;
        color: $DarkGreen;
        letter-spacing: 0;
        line-height: 27px;
        margin-bottom: 10px;
    }
    .field--name-field-body-copy {
        margin-bottom: 56px;
        color: $NightRider;

        @include breakpoint(large) {
            margin-bottom: 0;
        }
    }
}
.testimonials_block {
    background: $Geyser;
    padding-bottom: 80px;
    margin-top: 58px;

    @include breakpoint(large) {
        padding-bottom: 0px;
        margin-top: 0;
    }
    .field--name-field-testimonial-image {
        font-size: 0;
        line-height: 0;
        min-height: 215px;
        background-size: cover;

        @media (min-width:480px) {
            min-height: 360px;
        }
        @include breakpoint(medium) {
            background-position: right center;
        }

        /* different techniques for iPad screening */
        @media only screen and (min-device-width:768px) and (max-device-width:991px) and (orientation:portrait) {
            min-height: 510px !important;
        }
        @include breakpoint(large) {
            background-position: center center;
        }
        img {
            width: 100%;
        }
        @include breakpoint(large) {
            width: 37.733333%;
            float: left;
            min-height: auto;
        }
    }
    .testimonial-content-wrap {
        @include breakpoint(large) {
            width: 57%;
            float: right;
            padding-right: 50px;
            padding-bottom: 75px;
        }
    }
    .field--name-field-intro {
        @include Nessie;
        letter-spacing: 0.25px;
        color: $MineShaft;
        margin-top: 19px;
        line-height: 26px;

        &:before {
            content: '“';
        }
        &:after {
            content: '”';
        }
        @include breakpoint(large) {
            line-height: 28px;
            font-size: 20px;
            letter-spacing: 0px;
            color: $OxfordBlue;
            margin-top: 80px;
        }
    }
    .field--name-node-title {
        font-family: $EnzoOTBold;
        color: $MineShaft;
        letter-spacing: 0.22px;
        margin-top: 16px;
        letter-spacing: 0.22px;

        @include breakpoint(large) {
            font-size: 20px;
            color: $OxfordBlue;
            letter-spacing: 0;
            margin-top: 18px;
        }
        h2 {
            font-size: 20px;
            line-height: 28px;

            &:before {
                content: '- ';
            }
        }
    }
    .field--name-node-link a {
        background: $DeepSkyBlue;
        @include Yeti;
        font-family: $EnzoOTBold;
        color: $White;
        text-transform: uppercase;
        line-height: 56px;
        height: 60px;
        padding: 0 21px;
        display: inline-block;
        letter-spacing: 1px;
        margin-top: 31px;
        border: 2px solid $DeepSkyBlue;
        @include transition(all 0.15s ease-in-out);

        &:hover {
            background: none;
            color: $DeepSkyBlue;
        }
        @include breakpoint(large) {
            padding: 0  33px;
            margin-left: 3px;
        }
    }
}