.view-profiles, .view-testimonials {
    .field--name-field-intro {
        @include Golem;
        color: $OxfordBlue;
        letter-spacing: 0;
        padding: 38px 0 4px;
        line-height: 30px;
        font-family: $EnzoOffcLight;

        @include breakpoint(large) {
            padding: 89px 0px 53px 0;
            line-height: 32px;
        }
    }
    .views-row {
        margin-bottom: 37px;

        @include breakpoint(medium) {
            width: 100%;
            max-width: -webkit-calc(50% - 12px);
            max-width: -moz-calc(50% - 12px);
            max-width: calc(50% - 12px);
            margin-right: 12px;
            float: left;

            &:nth-child(2n) {
                margin-right: 0;
                float: right;
            }
        }
        @media only screen and (min-device-width:768px) and (max-device-width:991px) and (orientation:portrait) {
            margin-right: 12px;
        }
        @include breakpoint(large) {
            float: left;
            max-width: 475px;
            margin-right: 42px;
            margin-bottom: 70px;

            &:nth-child(2n) {
                margin-right: 0;
            }
            &:last-child, &:nth-last-child(2) {
                margin-bottom: 0;
            }
        }
        .field--name-field-profile-image {
            img {
                width: 100%;
            }
        }
        .field--name-node-title {
            font-family: $EnzoOffcBold;
            letter-spacing: 0;

            a {
                color: $DarkGreen;
            }
            @include breakpoint(large) {
                margin-top: 14px;
                margin-bottom: 5px;
            }
            h2 {
                @include Golem;
                line-height: 22px;
                color: $DarkGreen;

                a {
                    color: $DarkGreen;

                    &:hover {
                        color: $DarkGreen;
                    }
                }
            }
        }
        .field--name-field-job-title {
            font-size: 14px;
            color: $OxfordBlue;
            font-family: $EnzoOffcMedium;
        }
        .field--name-field-intro {
            @include Zombie;
            padding: 0;
            font-family: $EnzoOffcMedium;
        }
        .field--name-node-link a {
            background: $DeepSkyBlue;
            @include Yeti;
            font-family: $EnzoOffcBold;
            color: $White;
            text-transform: uppercase;
            line-height: 58px;
            height: 60px;
            padding: 0  24px;
            display: inline-block;
            letter-spacing: 1px;
            margin-top: 13px;
            border: 2px solid $DeepSkyBlue;
            @include transition(all 0.15s ease-in-out);

            &:hover {
                background: none;
                color: $DeepSkyBlue;
            }
            @include breakpoint(large) {
                padding: 0 31px;
                margin-left: -2px;
                margin-top: 23px;
            }
        }
    }
}
.view-profiles {
    &.view > .contextual {
        top: 50px;
    }
}
.view-testimonials .views-row {
    .field--name-field-testimonial-image {
        img {
            width: 100%;
        }
    }
    .field--name-node-title {
        margin-top: 22px;
        margin-bottom: 13px;
    }
}
.page-banner {
    position: relative;
    text-align: center;
    padding: 54px 15px 55px;

    @include breakpoint(large) {
        min-height: 350px;
    }
    .block-mjh_entityviewcontent {
        @include breakpoint(large) {
            position: absolute;
            bottom: 108px;
            padding-bottom: 19px;
            left: 50%;
            width: 100%;
            text-align: center;
            z-index: 1;
            @include transform(translate(-50%, 0));
            border-bottom: 1px solid $Zircon;
        }
        .node__title {
            font-family: $EnzoOffcBold;
            @include Chupacabra;
            letter-spacing: 0;

            a {
                color: $DarkGreen;
            }
        }
        .field--type-link {
            a {
                font-size: 0;
                background: $DeepSkyBlue;
                width: 35px;
                height: 35px;
                display: inline-block;
                border-radius: 100%;
                @include transition(all 0.5s ease);

                &:hover {
                    opacity: 0.8;
                }
                &:after {
                    content: '\f0e1';
                    @include iconfont;
                    display: inline-block;
                    font-size: 16px;
                    text-align: center;
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    color: $White;
                }
            }
        }
        .node__content {
            @include breakpoint(large) {
                margin-top: 25px;
            }
        }
        .field--name-field-job-title {
            font-family: $EnzoOffcMedium;
            font-size: 18px;
            color: $MineShaft;
            letter-spacing: 0;
            line-height: 50px;

            @include breakpoint(large) {
                display: inline-block;
                font-size: 22px;
            }
        }
        .field--name-field-linkedin {
            padding-top: 1px;

            @include breakpoint(large) {
                display: inline-block;
                margin-left: 13px;
                padding-top: 0;
            }
        }
    }
}
// new page header design
.page-banner {
    padding: 0;
    margin-top: 0;

    @include breakpoint(large) {
        margin-top: 0;
    }
    .block-mjh_page_title {
        position: relative;

        .page-title {
            position: absolute;
            top: 94px;
            left: 50%;
            max-width: 1200px;
            width: 100%;
            text-align: center;
            color: $White;
            z-index: 1;
            font-family: $EnzoOffcBold;
            @include Chupacabra;
            letter-spacing: 0;
            @include transform(translateX(-50%));

            @include breakpoint(large) {
                top: 169px;
            }
        }
    }
    .page-header {
        position: relative;
        text-align: center;

        @include breakpoint(large) {
            min-height: 350px;
        }
        .page-header-image {
            min-height: 199px;
            background-size: cover;
            position: relative;
            background-position: center;

            @include breakpoint(large) {
                min-height: 350px;
            }
            @media (min-width:1500px) {
                background-position: center top -130px !important;
            }
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba($Black, 0.5);
            }
        }
        .page-header-content {
            max-width: 100%;
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            padding: 0 15px;

            &:after {
                content: '';
                clear: both;
                display: block;
            }
            @include breakpoint(xl) {
                max-width: 992px;
                width: 100%;
                padding: 0;
            }
            .field--name-field-intro {
                @include Golem;
                color: $OxfordBlue;
                font-family: $EnzoOffcMedium;
                letter-spacing: 0;
                padding: 38px 0 40px;
                line-height: 30px;
                text-align: left;

                @include breakpoint(medium) {
                    padding: 53px 0px 53px 0;
                }
                @include breakpoint(large) {
                    padding: 89px 0px 53px 0;
                    line-height: 32px;
                    @include Manticore;
                }
            }
        }
    }
}
.page-node-type-profile {
    .header {
        border-bottom: 1px solid $Zircon;
    }
    #main-wrapper {
        background-image: none;
    }
    .page-banner {
        margin-top: 68px;
        margin-bottom: 55px;

        @include breakpoint(large) {
            margin-top: 8px;
            margin-bottom: 0;
        }
    }
    .region-breadcrumb {
        padding-top: 13px;

        @include breakpoint(large) {
            padding-top: 40px;
        }
        ol {
            li {
                line-height: 19px;
                color: $Black;

                a {
                    color: $Black;
                    line-height: 19px;
                    border-bottom: 2px solid $OxfordBlue;
                }
            }
        }
    }
    .block-mjh_content {
        padding-bottom: 17px;

        @include breakpoint(large) {
            margin-bottom: 51px;
            margin-top: -29px;
        }
        .content {
            max-width: 100%;
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            padding: 0 15px;

            &:after {
                content: '';
                clear: both;
                display: block;
            }
            @include breakpoint(xl) {
                max-width: 1200px;
                width: 100%;
                padding: 0;
            }
        }
        .left-column {
            @include breakpoint(large) {
                width: 50%;
                float: left;
                padding-right: 22px;
            }
            .field--name-field-profile-image {
                img {
                    width: 100%;
                }
            }
            .contact-details {
                border-left: 2px solid $Geyser;
                border-right: 2px solid $Geyser;
                border-bottom: 2px solid $Geyser;
                padding-top: 46px;
                padding-left: 30px;
                padding-right: 15px;
                padding-bottom: 32px;
                position: relative;
                margin-top: 18px;
                @extend %clearfix;

                @include breakpoint(large) {
                    margin-top: 37px;
                    padding-left: 37px;
                    padding-bottom: 35px;
                }
                &::before {
                    content: '';
                    width: -webkit-calc(100% + 2px);
                    width: -moz-calc(100% + 2px);
                    width: calc(100% + 2px);
                    position: absolute;
                    left: -1px;
                    top: 0;
                    right: 0;
                    height: 12px;
                    background: $DarkGreen;
                    display: block;

                    @include breakpoint(large) {
                        height: 12px;
                    }
                }
                h3 {
                    font-size: 28px;
                    color: $DarkGreen;
                    letter-spacing: 0;
                    margin-bottom: 17px;
                    font-family: $EnzoOffcBold;

                    @include breakpoint(large) {
                        @include Kraken;
                    }
                }
                .field--name-node-title {
                    color: $OxfordBlue;
                    letter-spacing: 0;
                    margin-top: 8px;
                    font-family: $EnzoOffcMedium;

                    h2 {
                        @include Mummy;
                    }
                    @include breakpoint(large) {
                        margin-top: 18px;
                    }
                }
                .field--name-field-job-title {
                    @include Nessie;
                    color: $OxfordBlue;
                    letter-spacing: 0;
                    margin-top: 9px;
                    padding-bottom: 23px;
                    font-family: $EnzoOffcMedium;

                    @include breakpoint(large) {
                        margin-top: 4px;
                        padding-bottom: 18px;
                    }
                }
                .field--label-inline {
                    margin-top: 18px;

                    @include breakpoint(large) {
                        margin-top: 2px;
                    }
                    .field__label {
                        font-family: $EnzoOffcBold;
                        @include Yeti;
                        color: $ShuttleGrey;
                        letter-spacing: 1px;
                        display: block;
                        text-transform: uppercase;
                        float: none;
                        padding-right: 15px;

                        &:after {
                            content: '';
                        }
                        @include breakpoint(large) {
                            display: inline-block;
                        }
                    }
                    .field__item {
                        color: $MineShaft;
                        letter-spacing: 0;
                        display: block;
                        font-size: 18px;
                        padding-top: 8px;
                        font-family: $EnzoOffcMedium;
                        word-break: break-all;

                        @include breakpoint(large) {
                            display: inline-block;
                        }
                        a {
                            color: $MineShaft;
                        }
                    }
                }
                .field--type-telephone {
                    margin-top: 0;
                }
            }
        }
        .right-column {
            @include breakpoint(large) {
                width: 50%;
                float: right;
                padding-left: 22px;
            }
        }
        .field--name-field-intro {
            @include Golem;
            color: $OxfordBlue;
            letter-spacing: 0;
            padding: 35px 0 0px;
            font-family: $EnzoOffcMedium;

            @include breakpoint(large) {
                padding: 0px 0px 13px 0;
                @include Manticore;
            }
        }
        .paragraph--type--body-copy {
            margin-top: 21px;
            @include Zombie;

            @include breakpoint(large) {
                margin-top: 7px;
            }
            p {
                padding-bottom: 14px;
            }
        }
    }
    .block-mjh_backlink {
        max-width: 100%;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding: 0 15px;
        margin-bottom: 75px;

        &:after {
            content: '';
            clear: both;
            display: block;
        }
        @include breakpoint(xl) {
            max-width: 1200px;
            width: 100%;
            padding: 0;
            margin-bottom: 165px;
        }
        a {
            padding: 0  17px;
        }
    }
}