.path-testimonials {
    .block-mjh_content {
        .content {
            max-width: 100%;
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            padding: 0 15px;

            &:after {
                content: '';
                clear: both;
                display: block;
            }
            @include breakpoint(xl) {
                max-width: 992px;
                width: 100%;
                padding: 0;
            }
            .view > .contextual {
                top: 50px;
            }
        }
        .field--name-field-intro {
            @include Golem;
            color: $OxfordBlue;
            font-family: $EnzoOffcLight;
            letter-spacing: 0;
            padding: 38px 0 14px;
            line-height: 30px;

            @include breakpoint(large) {
                padding: 89px 0px 53px 0;
                line-height: 32px;
            }
        }
    }
}
.page-node-type-testimonial, .page-node-type-profile {
    // header

    #block-phoneblock {
        .field--name-field-phone {
            a {
                color: $Black;
            }
        }
    }
    .region-breadcrumb {
        padding-top: 19px;

        @include breakpoint(large) {
            padding-top: 40px;
        }
        ol {
            li {
                line-height: 19px;
                color: $Black;

                a {
                    color: $DarkGreen;
                    line-height: 19px;
                    border-color: $DarkGreen;
                }
            }
        }
    }
    .page-banner .block-mjh_page_title {
        margin-top: 0;
        min-height: 141px;
        margin-bottom: 50px;

        @include breakpoint(large) {
            min-height: 350px;
            max-height: 350px;
            margin-bottom: 0;
        }
        &:after {
            background: $White;
        }
        .page-title {
            color: $DarkGreen;
            bottom: 59px;

            @include breakpoint(large) {
                bottom: 146px;
            }
        }
    }
    .block-mjh_content {
        .field--name-field-intro {
            @include Golem;
            color: $OxfordBlue;
            letter-spacing: 0;
            padding: 10px 0 22px;
            line-height: 30px;

            @include breakpoint(large) {
                padding: 34px 0px 0px 0;
                line-height: 34px;
                font-size: 24px;
            }
        }
        .paragraph--type--body-copy {
            margin-top: 40px;
            @include Zombie;

            @include breakpoint(large) {
                margin-top: 30px;
            }
            p {
                padding-bottom: 14px;
            }
            ul {
                margin: 35px 0 0;
                padding: 0;
                list-style: none;

                li {
                    padding-left: 20px;
                    padding-bottom: 12px;
                    position: relative;

                    @include breakpoint(large) {
                        padding-bottom: 10px;
                    }
                    &:before {
                        content: '';
                        width: 10px;
                        height: 10px;
                        background: $DeepSkyBlue;
                        position: absolute;
                        top: 8px;
                        left: 0;
                        border-radius: 100%;
                    }
                }
            }
            ol {
                padding: 0;
                list-style: inside decimal;

                li {
                    padding-bottom: 12px;
                }
            }
            blockquote {
                padding-left: 20px;
                @include Zombie;
                margin-left: 0;
                font-family: $EnzoOffcMedium;
                margin-bottom: 50px;
                position: relative;

                @include breakpoint(large) {
                    font-size: 22px;
                    line-height: 32px;
                }
                p {
                    margin: 0;
                    padding: 0;
                }
                &:after {
                    position: absolute;
                    content: '';
                    top: 6px;
                    left: 0;
                    width: 7px;
                    background: $DarkGreen;
                    height: -webkit-calc(100% - 15px);
                    height: -moz-calc(100% - 15px);
                    height: calc(100% - 15px);
                    display: block;

                    @include breakpoint(large) {
                        top: 8px;
                    }
                }
            }
            .align-left {
                float: left;
                margin-right: 20px;
            }
            .align-right {
                float: right;
                margin-left: 20px;
            }
            .table-wrap {
                overflow-x: scroll;

                @media (min-width:560px) {
                    overflow: hidden;
                }
                table {
                    width: 560px;

                    @include breakpoint(medium) {
                        width: 100%;
                    }
                }
            }
        }
        // call to action button
        .field--name-field-call-to-action a {
            background: $DeepSkyBlue;
            @include Yeti;
            font-family: $EnzoOffcBold;
            color: $White;
            text-transform: uppercase;
            line-height: 26px;
            padding: 20px 24px 19px;
            display: inline-block;
            letter-spacing: 1px;
            margin-top: 13px;
            @include transition(all 0.5s ease);

            &:hover {
                background: $DarkGreen;
                color: $White;
            }
            @include breakpoint(large) {
                padding: 20px 23px 19px;
                margin-left: -2px;
                margin-top: 19px;
            }
        }
        // Quote
        .field--name-field-quote {
            padding-left: 24px;
            @include Mummy;
            margin-top: 12px;
            position: relative;
            font-family: $EnzoOffcMedium;

            @include breakpoint(large) {
                font-size: 22px;
                line-height: 32px;
            }
            @include breakpoint(large) {
                padding-left: 26px;
                margin-top: 16px;
                line-height: 32px;
                margin-bottom: 50px;
            }
            &:after {
                position: absolute;
                content: '';
                top: 6px;
                left: 0;
                width: 7px;
                background: $DarkGreen;
                height: -webkit-calc(100% - 13px);
                height: -moz-calc(100% - 13px);
                height: calc(100% - 13px);
                display: block;

                @include breakpoint(large) {
                    top: 8px;
                }
            }
        }
        // image and text
        .field--name-field-image-and-text-items {
            margin-bottom: 44px;
            margin-top: 40px;

            @include breakpoint(large) {
                margin-bottom: 50px;
            }
            &> .field__item {
                margin-bottom: 50px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
            .content {
                padding: 0;
            }
            .field--name-field-image {
                @include breakpoint(large) {
                    width: 310px;
                    float: left;
                    margin-right: 34px;
                }
            }
            .field--name-field-title, .field--name-field-body {
                @include breakpoint(large) {
                    width: 100%;
                    max-width: 648px;
                    display: inline-block;
                    vertical-align: top;
                }
            }
            .field--name-field-title {
                font-family: $EnzoOffcMedium;
                @include Manticore;
                color: $DeepSkyBlue;
                letter-spacing: 0.18px;
                margin-top: 12px;
                margin-bottom: 4px;
            }
            .field--name-field-body {
                font-family: $EnzoOffcMedium;
                @include Zombie;
                color: $OxfordBlue;
                letter-spacing: 0;

                ul {
                    margin: 35px 0 0;
                    padding: 0;
                    list-style: none;

                    li {
                        padding-left: 20px;
                        padding-bottom: 12px;
                        position: relative;

                        @include breakpoint(large) {
                            padding-bottom: 10px;
                        }
                        &:before {
                            content: '';
                            width: 10px;
                            height: 10px;
                            background: $DeepSkyBlue;
                            position: absolute;
                            top: 8px;
                            left: 0;
                            border-radius: 100%;
                        }
                        ul {
                            margin-top: 5px;
                        }
                    }
                }
                ol {
                    padding: 0;
                    list-style: inside decimal;

                    li {
                        padding-bottom: 12px;

                        ol {
                            margin-top: 5px;
                            margin-left: 20px;
                        }
                    }
                }
                blockquote {
                    padding-left: 20px;
                    margin-left: 0;
                    @include Zombie;
                    font-family: $EnzoOffcMedium;
                    margin-bottom: 50px;
                    position: relative;

                    @include breakpoint(large) {
                        font-size: 22px;
                        line-height: 32px;
                    }
                    &:after {
                        position: absolute;
                        content: '';
                        top: 6px;
                        left: 0;
                        width: 7px;
                        background: $DarkGreen;
                        height: -webkit-calc(100% - 15px);
                        height: -moz-calc(100% - 15px);
                        height: calc(100% - 15px);
                        display: block;

                        @include breakpoint(large) {
                            top: 8px;
                        }
                    }
                    p {
                        margin: 0;
                        padding: 0;
                    }
                }
                .align-left {
                    float: left;
                    margin-right: 20px;
                }
                .align-right {
                    float: right;
                    margin-left: 20px;
                }
                .table-wrap {
                    overflow-x: scroll;

                    @media (min-width:560px) {
                        overflow: hidden;
                    }
                    table {
                        width: 560px;

                        @include breakpoint(medium) {
                            width: 100%;
                        }
                    }
                }
            }
        }
        // accordian
        .paragraph--type--accordion {
            margin-top: 44px;

            .show-all {
                font-family: $EnzoOffcBold;
                @include Yeti;
                color: $DarkGreen;
                letter-spacing: 1px;
                text-align: right;
                text-decoration: underline;
                padding-bottom: 15px;
                text-transform: uppercase;
                cursor: pointer;
            }
            .content {
                padding: 0;
            }
            .field--name-field-title {
                background: $DeepSkyBlue;
                padding: 25px 50px 20px 16px;
                margin-bottom: 5px;
                font-family: $EnzoOffcMedium;
                @include Mummy;
                color: $White;
                letter-spacing: 0;
                line-height: 28px;
                position: relative;
                cursor: pointer;

                &:after {
                    content: '\f078';
                    @include iconfont;
                    color: $DarkGreen;
                    position: absolute;
                    right: 13px;
                    top: 50%;
                    @include transform(translateY(-50%));
                }
                &.active {
                    &:after {
                        content: '\f077';
                    }
                }
            }
            .field--name-field-body {
                display: none;
                font-family: $EnzoOffcMedium;
                @include Zombie;
                color: $OxfordBlue;
                letter-spacing: 0;
                margin-top: 23px;
                margin-bottom: 7px;

                @include breakpoint(large) {
                    padding: 0 32px;
                }
                p {
                    padding-bottom: 14px;
                }
                ul {
                    margin: 35px 0 0;
                    padding: 0;
                    list-style: none;

                    li {
                        padding-left: 20px;
                        padding-bottom: 12px;
                        position: relative;

                        @include breakpoint(large) {
                            padding-bottom: 10px;
                        }
                        &:before {
                            content: '';
                            width: 10px;
                            height: 10px;
                            background: $DeepSkyBlue;
                            position: absolute;
                            top: 8px;
                            left: 0;
                            border-radius: 100%;
                        }
                        ul {
                            margin-top: 5px;
                        }
                    }
                }
                ol {
                    padding: 0;
                    list-style: inside decimal;

                    li {
                        padding-bottom: 12px;

                        ol {
                            margin-top: 5px;
                            margin-left: 20px;
                        }
                    }
                }
                blockquote {
                    padding-left: 20px;
                    margin-left: 0;
                    @include Zombie;
                    font-family: $EnzoOffcMedium;
                    margin-bottom: 50px;
                    position: relative;

                    @include breakpoint(large) {
                        font-size: 22px;
                        line-height: 32px;
                    }
                    &:after {
                        position: absolute;
                        content: '';
                        top: 6px;
                        left: 0;
                        width: 7px;
                        background: $DarkGreen;
                        height: -webkit-calc(100% - 15px);
                        height: -moz-calc(100% - 15px);
                        height: calc(100% - 15px);
                        display: block;

                        @include breakpoint(large) {
                            top: 8px;
                        }
                    }
                    p {
                        margin: 0;
                        padding: 0;
                    }
                }
                .align-left {
                    float: left;
                    margin-right: 20px;
                }
                .align-right {
                    float: right;
                    margin-left: 20px;
                }
                .table-wrap {
                    overflow-x: scroll;

                    @media (min-width:560px) {
                        overflow: hidden;
                    }
                    table {
                        width: 560px;

                        @include breakpoint(medium) {
                            width: 100%;
                        }
                    }
                }
            }
        }
        // GEt in touch form
        .paragraph--type--web-form {
            border-left: 1px solid $Geyser;
            border-right: 1px solid $Geyser;
            border-bottom: 1px solid $Geyser;
            text-align: center;
            padding-top: 69px;
            padding-left: 15px;
            padding-right: 15px;
            position: relative;
            margin-top: 59px;
            @extend %clearfix;

            @include breakpoint(large) {
                margin-top: 82px;
                padding-top: 74px;
            }
            &:before {
                content: '';
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                height: 10px;
                background: $DarkGreen;

                @include breakpoint(large) {
                    height: 12px;
                }
            }
            .form-left {
                margin-bottom: 8px;

                @include breakpoint(large) {
                    width: 46%;
                    float: left;
                }
                &:after {
                    content: '';
                    width: 92px;
                    height: 92px;
                    background-image: url('../../images/message.svg');
                    display: inline-block;
                    background-size: 92px 92px;
                    margin-top: 21px;

                    @include breakpoint(large) {
                        width: 146px;
                        height: 146px;
                        background-size: 146px 146px;
                        margin-top: 30px;
                    }
                }
            }
            .field--name-field-title {
                font-family: $EnzoOffcMedium;
                font-size: 40px;
                color: $DarkGreen;
                letter-spacing: 0.31px;
                padding-bottom: 19px;

                @include breakpoint(large) {
                    max-width: 364px;
                    margin: 0 auto;
                }
            }
            .field--name-field-text {
                @include Zombie;
                color: $MineShaft;
                letter-spacing: 0;

                @include breakpoint(large) {
                    max-width: 277px;
                    margin: 0 auto;
                }
            }
            .form-right {
                @include breakpoint(large) {
                    width: 52%;
                    float: right;
                    text-align: left;
                }
                .form-item {
                    margin-bottom: 20px;
                }
                .contact-message-book-an-appointment-form {
                    @include breakpoint(large) {
                        margin-top: -48px;
                    }
                }
            }
            label {
                text-align: left;
                display: block;
                font-family: $EnzoOffcBold;
                font-size: 12px;
                color: #757171;
                letter-spacing: 0.85px;
                text-transform: uppercase;
                padding-bottom: 3px;
            }
            input {
                width: 100%;
                border: 2px solid $Geyser;
                height: 63px;
                -webkit-appearance: none;
                border-radius: 0;

                @include breakpoint(large) {
                    max-width: 403px;
                }
                &.form-submit {
                    background: $DeepSkyBlue;
                    @include Yeti;
                    font-family: $EnzoOffcBold;
                    color: $White;
                    text-transform: uppercase;
                    line-height: 64px;
                    height: 60px;
                    padding: 0  14px;
                    display: inline-block;
                    letter-spacing: 1px;
                    margin-top: 3px;
                    width: 180px;
                    border: none;
                    float: left;
                    margin-bottom: 32px;

                    @include breakpoint(large) {
                        padding: 0 25px;
                        margin-left: 3px;
                    }
                }
            }
        }
    }
}
.sharethis-wrapper {
    margin-top: 32px;

    .field--name-field-related-stories & {
        display: none;
    }
    h3 {
        display: inline-block;
        font-family: $EnzoOffcBold;
        @include Yeti;
        color: $DarkGreen;
        letter-spacing: 1px;
        margin-right: 10px;
        text-transform: uppercase;
    }
    span {
        width: 33px;
        height: 33px;
        background: $DeepSkyBlue;
        margin-right: 1px;
        display: inline-block;
        font-size: 0;
        cursor: pointer;
        @include transition(all 0.5s ease);

        &:hover {
            opacity: 0.8;
        }
        &:after {
            @include iconfont;
            display: block;
            font-size: 16px;
            text-align: center;
            width: 33px;
            height: 33px;
            line-height: 33px;
            color: $White;
        }
        &.st_facebook_custom {
            background: #2D5692;

            &:after {
                content: '\f09a';
                color: $White;
            }
        }
        &.st_twitter_custom {
            background: #18A6D4;

            &:after {
                content: '\f099';
                color: $White;
            }
        }
        &.st_linkedin_custom {
            background: #3C91CE;

            &:after {
                content: '\f0e1';
                color: $White;
            }
        }
        &.st_email_custom {
            background: #728A8D;

            &:after {
                content: '\f0e0';
                color: $White;
            }
        }
        &.st_sharethis_custom {
            background: #FC6B48;

            &:after {
                content: '\f067';
                color: $White;
            }
        }
    }
}
.block-mjh_backlink {
    max-width: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
    margin-bottom: 87px;

    &:after {
        content: '';
        clear: both;
        display: block;
    }
    @include breakpoint(xl) {
        max-width: 992px;
        width: 100%;
        padding: 0;
    }
    a {
        border: 2px solid $DeepSkyBlue;
        @include Yeti;
        font-family: $HelveticaNeueLTProBlk;
        color: $DeepSkyBlue;
        text-transform: uppercase;
        line-height: 50px;
        height: 50px;
        padding: 0 17px;
        display: inline-block;
        letter-spacing: 1px;
        margin-top: 13px;
        @include transition(background 0.5s ease);

        &:before {
            content: '\e906';
            @include iconfont;
            margin-right: 10px;
            @include transition(margin 0.5s ease);
        }
        &:hover {
            background: $DeepSkyBlue;
            color: $White;

            &:before {
                margin-left: -5px;
                margin-right: 15px;
            }
        }
        @include breakpoint(large) {
            padding: 0 17px;
            margin-top: 19px;
        }
    }
}
.page-node-type-testimonial {
    .header {
        border-bottom: 1px solid $Zircon;
    }
    .block-mjh_content {
        @include breakpoint(large) {
            margin-bottom: 46px;
        }
    }
}
.field--name-field-content .field__item:first-child {
    .paragraph--type--body-copy {
        margin-top: 0;

        @include breakpoint(large) {
            margin-top: 30px;
        }
    }
}
// more stories
.block-testimonial-related-block {
    max-width: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px 12px;
    font-size: 0;

    &:after {
        content: '';
        clear: both;
        display: block;
    }
    @include breakpoint(large) {
        max-width: 992px;
        width: 100%;
        padding: 0 0 45px;
    }
    h2 {
        text-align: center;
        padding: 32px 0 49px;
        font-size: 30px;
        line-height: 37px;
        font-family: $EnzoOffcBold;
        color: $DarkGreen;
        border-top: 2px solid $Geyser;

        @include breakpoint(large) {
            font-size: 40px;
            line-height: 49px;
        }
    }
    .one-half {
        display: inline-block;
        float: none;
        vertical-align: top;
        padding-bottom: 45px;

        @include breakpoint(large) {
            padding-bottom: 70px;
        }
    }
    .one-half:first-child, .one-half:nth-child(even) {
        @include breakpoint(large) {
            padding-right: 22px;
        }
    }
    .one-half:nth-child(odd) {
        @include breakpoint(large) {
            padding-left: 22px;
        }
    }
    .field--name-field-testimonial-image {
        font-size: 0;
        line-height: 0;
        min-height: 215px;
        background-size: cover;

        img {
            width: 100%;
        }
    }
    .field--name-field-intro {
        @include Zombie;
        letter-spacing: 0px;
        color: $MineShaft;
        margin-top: 10px;
        line-height: 26px;

        @include breakpoint(large) {
            color: $OxfordBlue;
            margin-top: 10px;
        }
    }
    .field--name-node-title {
        font-family: $EnzoOTBold;
        color: $MineShaft;
        letter-spacing: 0.22px;
        margin-top: 16px;
        letter-spacing: 0.22px;

        @include breakpoint(large) {
            font-size: 20px;
            color: $OxfordBlue;
            letter-spacing: 0;
            margin-top: 18px;
        }
        h2 {
            font-size: 22px;
            line-height: 27px;
            padding: 0;
            text-align: left;
            letter-spacing: 0.17px;
            color: $DarkGreen;
            border: none;
        }
    }
    .field--name-node-link a {
        background: $DeepSkyBlue;
        @include Yeti;
        font-family: $EnzoOTBold;
        color: $White;
        text-transform: uppercase;
        line-height: 56px;
        height: 60px;
        padding: 0 21px;
        display: inline-block;
        letter-spacing: 1px;
        margin-top: 31px;
        border: 2px solid $DeepSkyBlue;
        @include transition(all 0.15s ease-in-out);

        &:hover {
            background: none;
            color: $DeepSkyBlue;
        }
        @include breakpoint(large) {
            padding: 0  33px;
        }
    }
}