.path-user {
    .layout--default {
        position: static;
        overflow: visible;
    }
    .user-login {
        margin: 0 auto 0;
        padding: 0 16px;
        @extend %clearfix;

        .block-mjh_content {
            margin-bottom: 0;
        }
        .site-branding {
            width: 129px;
            text-align: center;
            margin: 0 auto;
        }
        .region--content {
            padding: 20px 16px;
            background: -webkit-linear-gradient(90deg, #003E5A 0%, #00AEEF 100%);
            background: -o-linear-gradient(90deg, #003E5A 0%, #00AEEF 100%);
            background: -moz-linear-gradient(90deg, #003E5A 0%, #00AEEF 100%);
            background-image: linear-gradient(90deg, #003E5A 0%, #00AEEF 100%);
            color: $Black;
            max-width: 500px;
            width: 100%;
            border-radius: 10px;

            @include breakpoint(large) {
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
            }
        }
        .description {
            display: none;
        }
        .js-form-item {
            margin-top: 20px;

            label {
                color: $White;
            }
        }
        input {
            border: 1px solid $Geyser;
            width: 100%;
            color: $Black;

            &:focus {
                border: 1px solid $DeepSkyBlue;
            }
            @include breakpoint(medium) {
                max-width: 100%;
                width: auto;
            }
            &.form-submit {
                background: $DeepSkyBlue;
                color: $White;
                border: none;
                padding: 0 35px;
                line-height: 50px;
                border: 2px solid $DeepSkyBlue;
                text-transform: uppercase;
                font-weight: $bold;
                border: 2px solid $DeepSkyBlue;
                margin-top: 20px;
                margin-bottom: 0;
                @include transition(all 0.15s ease-in-out);

                &:hover {
                    background: none;
                    color: $DeepSkyBlue;
                }
            }
        }
    }
}