<h2>More Stories</h2>
{% if variable is not null %}
{% for key, t in variable %}
<div class="one-half no-padding">
  <div class="field--name-field-testimonial-image" style="">
    <img src="{{ t.image }}" alt="{{ t.title }}">
  </div>
  <div class="field--name-node-title">
    <h2>{{ t.title }}</h2>
  </div>
  <div class="field--name-field-intro">
    {{ t.intro }}
  </div>
  <div class="field--name-node-link">
    <a href="{{ t.url }}">Read Full Story</a>
  </div>

</div>
{% endfor %}
{% endif%}

