@mixin breakpoint($point) {
    @if $point == small {
        @media (min-width:480px) {
            @content;
        }
    }
    @if $point == medium {
        @media (min-width:768px) {
            @content;
        }
    }
    @else if $point == large {
        @media (min-width:992px) {
            @content;
        }
    }
    @else if $point == xl {
        @media (min-width:1200px) {
            @content;
        }
    }
    @else if $point {
        // allows custom breakpoints
        @media (min-width:$point) {
            @content;
        }
    }
}
// font family
@mixin family($name:$EnzoOffcMedium, $weight:normal) {
    font-family: $name;
    font-weight: $weight;
}
// Icon font

@mixin iconfont {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;  /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
// typeset

@mixin Chupacabra {
    font-size: 32px;
    line-height: 40px;

    @include breakpoint(medium) {
        font-size: 62px;
        line-height: 50px;
    }
}
@mixin Gremlin {
    font-size: 32px;
    line-height: 42px;

    @include breakpoint(medium) {
        font-size: 40px;
        line-height: 50px;
    }
}
@mixin Gremlin_s {
}
@mixin Mummy_s {
}
@mixin Kraken {
    font-size: 32px;
}
@mixin Manticore {
    font-size: 24px;
    line-height: 34px;
}
@mixin Golem {
    font-size: 22px;
    line-height: 32px;
}
@mixin Mummy {
    font-size: 20px;
    line-height: 30px;
}
@mixin Zombie {
    font-size: 18px;
    line-height: 28px;
}
@mixin Nessie {
    font-size: 16px;
    line-height: 24px;
}
@mixin Yeti {
    font-size: 14px;
}
@mixin transition($args) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}
// generic transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}
// opacity
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie);
    //IE8
}
%clearfix {
    // use
    // @extend %clearfix;
    *zoom: 1;

    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}