// colorset
$OxfordBlue: #252D36;
$DeepSkyBlue: #00AEEF;
$DarkGreen: #001722;
$prussianBlue: #003E5A;
$Solitude: #EBF1F4;
$CatalinaBlue: #223954;
$Geyser: #DDE2E5;
$ShuttleGrey: #636466;
$Zircon: #DDE2E5;
$NightRider: #303030;
$White: #FFFFFF;
$MineShaft: #313131;
$Black: #000000;
$Boulder: #7C7C7C;
$Silver: #C9C9C9;
$EnzoOffcThin: 'EnzoOffc-Thin';
$EnzoOffcMedium: 'EnzoOffc-Medium';
$EnzoOffcBold: 'EnzoOffc-Bold';
$EnzoOffcLight: 'EnzoOffc-Light';
$HelveticaNeueLTProLt: 'HelveticaNeueLTPro-Lt';
$HelveticaNeueLTProBlk: 'HelveticaNeueLTPro-Blk';
$EnzoOTMediIta: 'EnzoOT-MediIta';
$EnzoOTBoldIta: 'EnzoOT-BoldIta';
$EnzoOTLight: 'EnzoOT-Light';
$EnzoOTLightIta: 'EnzoOT-LightIta';
$HelveticaNeueLTProRoman: 'HelveticaNeueLTPro-Roman';
$EnzoOTBold: 'EnzoOT-Bold';
$EnzoOTMedi: 'EnzoOT-Medi';
$HelveticaNeueLTProMd: 'HelveticaNeueLTPro-Md';
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

h1 {
    @include Gremlin;
    color: $OxfordBlue;
    font-family: $EnzoOffcBold;
}
h2 {
    @include Manticore;
    color: $OxfordBlue;
    font-family: $EnzoOffcBold;
}
h3 {
    @include Mummy;
    color: $OxfordBlue;
    font-family: $EnzoOffcBold;
}
h4, h5, h6 {
    font-family: $EnzoOffcBold;
}
body {
    @include Nessie;
    color: $OxfordBlue;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: grayscale !important;
    @include family($EnzoOffcMedium);
}
code, kbd, pre, samp {
    line-height: 26px;
    @include Nessie;
    color: $OxfordBlue;
}
h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
a {
    color: $DeepSkyBlue;
    text-decoration: none;

    &:hover {
        @include breakpoint(large) {
            color: $Black;
        }
    }
}
img {
    max-width: 100%;
    height: auto;
}
input {
    height: 50px;
    padding: 0 10px;
}
input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background: none;
}
table {
    width: 100%;
    text-align: left;
    margin-top: 25px;
    border: none;

    p {
        margin: 0;
    }
    thead {
        background: $DeepSkyBlue;
        color: $White;
        font-weight: bold;

        th {
            padding: 12px 24px;
            border-top: 0;
            border-bottom: 0;
            border-left: 0;

            &:last-child {
                border-right: none;
            }
        }
    }
    tbody {
        background: $White;
    }
    tr {
        td {
            border: none;
            padding: 12px 24px;
        }
    }
    thead {
        tr {
            th {
                border-right: 2px solid $White;
            }
            th:last-child {
                border-right: none;
            }
        }
    }
    tbody {
        tr {
            &:nth-child(odd) {
                background: #f1f2f4;
            }
            td {
                border-right: 2px solid $White;
            }
            td:last-child {
                border-right: none;
            }
        }
    }
}