{#
    /**
    * @file
    * Theme override for the basic structure of a single Drupal page.
    *
    * Variables:
    * - logged_in: A flag indicating if user is logged in.
    * - root_path: The root path of the current page (e.g., node, admin, user).
    * - node_type: The content type for the current node, if the page is a node.
    * - head_title: List of text elements that make up the head_title variable.
    *   May contain one or more of the following:
    *   - title: The title of the page.
    *   - name: The name of the site.
    *   - slogan: The slogan of the site.
    * - page_top: Initial rendered markup. This should be printed before 'page'.
    * - page: The rendered page markup.
    * - page_bottom: Closing rendered markup. This variable should be printed after
    *   'page'.
    * - db_offline: A flag indicating if the database is offline.
    * - placeholder_token: The token for generating head, css, js and js-bottom
    *   placeholders.
    *
    * @see template_preprocess_html()
    */
    #}
    {%
    set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    title ? 'pages-' ~ title|clean_class,
    db_offline ? 'db-offline',
    ]
    %}
    <!DOCTYPE html>
    <html{{ html_attributes }}>
    <head>
        <head-placeholder token="{{ placeholder_token }}">
            <title>{{ head_title|safe_join(' | ') }}</title>
            <css-placeholder token="{{ placeholder_token }}">
                <js-placeholder token="{{ placeholder_token }}">
                    <link rel="shortcut icon" href="{{ base_path }}themes/mjh/assets/images/favicon/favicon.ico" type="image/x-icon">
                    <link rel="icon" href="{{ base_path }}themes/mjh/assets/images/favicon/favicon.ico" type="image/x-icon">
                    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ base_path }}themes/mjh/assets/images/favicon/apple-touch-icon-57x57.png" />
                    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ base_path }}themes/mjh/assets/images/favicon/apple-touch-icon-114x114.png" />
                    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ base_path }}themes/mjh/assets/images/favicon/apple-touch-icon-72x72.png" />
                    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ base_path }}themes/mjh/assets/images/favicon/apple-touch-icon-144x144.png" />
                    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ base_path }}themes/mjh/assets/images/favicon/apple-touch-icon-60x60.png" />
                    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ base_path }}themes/mjh/assets/images/favicon/apple-touch-icon-120x120.png" />
                    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ base_path }}themes/mjh/assets/images/favicon/apple-touch-icon-76x76.png" />
                    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ base_path }}themes/mjh/assets/images/favicon/apple-touch-icon-152x152.png" />
                    <!-- <link rel="icon" type="image/png" sizes="256x256" href="{{ base_path }}themes/mjh/assets/images/favicon/androidchrome-256x256.png"> -->
                    <!-- <link rel="icon" type="image/png" sizes="192x192" href="{{ base_path }}themes/mjh/assets/images/favicon/androidchrome-192x192.png"> -->
                    <link rel="icon" type="image/png" href="{{ base_path }}themes/mjh/assets/images/favicon/favicon-196x196.png" sizes="196x196" />
                    <link rel="icon" type="image/png" href="{{ base_path }}themes/mjh/assets/images/favicon/favicon-96x96.png" sizes="96x96" />
                    <link rel="icon" type="image/png" href="{{ base_path }}themes/mjh/assets/images/favicon/favicon-32x32.png" sizes="32x32" />
                    <link rel="icon" type="image/png" href="{{ base_path }}themes/mjh/assets/images/favicon/favicon-16x16.png" sizes="16x16" />
                    <link rel="icon" type="image/png" href="{{ base_path }}themes/mjh/assets/images/favicon/favicon-128.png" sizes="128x128" />
                    <meta name="application-name" content="&nbsp;"/>
                    <meta name="msapplication-TileColor" content="#FFFFFF" />
                    <link rel="manifest" href="{{ base_path }}themes/mjh/assets/images/favicon/manifest.json">
                    <meta name="msapplication-TileImage" content="{{ base_path }}themes/mjh/assets/images/favicon/mstile-144x144.png" />
                    <meta name="msapplication-square70x70logo" content="{{ base_path }}themes/mjh/assets/images/favicon/mstile-70x70.png" />
                    <meta name="msapplication-square150x150logo" content="{{ base_path }}themes/mjh/assets/images/favicon/mstile-150x150.png" />
                    <meta name="msapplication-wide310x150logo" content="{{ base_path }}themes/mjh/assets/images/favicon/mstile-310x150.png" />
                    <meta name="msapplication-square310x310logo" content="{{ base_path }}themes/mjh/assets/images/favicon/mstile-310x310.png" />
                    <meta name="format-detection" content="telephone=no">

                </head>
                <body{{ attributes.addClass(body_classes) }}>
                {#
                Keyboard navigation/accessibility link to main content section in
                page.html.twig.
                #}
                <a href="#main-content" class="visually-hidden focusable skip-link">
                    {{ 'Skip to main content'|t }}
                </a>

                {{ page }}
                {{ page_top }}
                {{ page_bottom }}
                <js-bottom-placeholder token="{{ placeholder_token }}">
                </body>
                </html>
