.primary-btn {
    a {
        @include family($EnzoOffcMedium, bold);
        @include Zombie;
        color: $White;
        background: $DeepSkyBlue;
        line-height: 0;
        padding: 24px 33px;
        display: inline-block;
    }
}