@font-face {
  font-family: 'icomoon';
  src: url('../../fonts/icon-font/icomoon.eot?ktjxfl');
  src: url('../../fonts/icon-font/icomoon.eot?ktjxfl#iefix') format('embedded-opentype'), url('../../fonts/icon-font/icomoon.ttf?ktjxfl') format('truetype'), url('../../fonts/icon-font/icomoon.woff?ktjxfl') format('woff'), url('../../fonts/icon-font/icomoon.svg?ktjxfl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {

  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-download:before {
  content: "\e906";
}
.icon-message2:before {
  content: "\e904";
}
.icon-right-arrow:before {
  content: "\e908";
}
.icon-left-arrow:before {
  content: "\e900";
}
.icon-cap:before {
  content: "\e901";
}
.icon-chat:before {
  content: "\e902";
}
.icon-dg:before {
  content: "\e903";
}
.icon-gift:before {
  content: "\e905";
}
.icon-message:before {
  content: "\e90b";
}
.icon-phone:before {
  content: "\e90c";
}
.icon-pined-path:before {
  content: "\e90d";
}
.icon-up-arrow:before {
  content: "\e911";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-twitter2:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}