.pager {
    display: inline-block;
    width: 100%;

    @include breakpoint(large) {
        margin: 60px 0 0;
    }
    @include breakpoint(large) {
        padding-left: 0;
    }
    ul {
        padding-left: 0px;
        display: inline-block;
        padding-top: 18px;
        margin-bottom: 0;
        line-height: 0;

        li {
            display: inline-block;
            padding: 5px;

            &.pager__item--first, &.pager__item--last {
                display: none;
            }
            a {
                padding: 6px 12px;
                background-color: #f3f4f6;
                @include Yeti;
                vertical-align: middle;
            }
            &.is-active a {
                font-weight: normal;
                color: $DarkGreen;
            }
            &:hover a {
                font-weight: normal;
                color: $DarkGreen;
            }
            &.pager__item--previous {
                padding-left: 0;

                a {
                    font-size: 22px;
                    background: none;

                    span {
                        display: none;
                    }
                    &:after {
                        content: '\f104';
                        @include iconfont;
                    }
                }
            }
            &.pager__item--next {
                a {
                    font-size: 22px;
                    background: none;

                    span {
                        display: none;
                    }
                    &:after {
                        content: '\f105';
                        @include iconfont;
                    }
                }
            }
        }
    }
}