{#
  /**
  * @file
  * Default theme implementation for an Address Map display suite field.
  *
  * To override output, copy the "address-map.html.twig" from the templates directory
  * to your theme's directory and customize it, just like customizing other
  * Drupal templates such as page.html.twig or node.html.twig.
  *
  * Available variables:
  * - address: The formatted street address for Google Maps API.
  * - width: The width for the #map div.
  * - height: The height for the #map div.
  * - styles: JSON used to theme maps (https://snazzymaps.com).
  * - zoom: The zoom level integer.
  * - disable_default_ui: Disables the Google Maps default UI and controls.
  * - disable_double_click_zoom: Disables map zoom on double click.
  * - scroll_wheel: Whether the map should zoom on mouse scroll.
  * - draggable: Whether the map should be draggable by the mouse.
  * - icon: The URL of the icon image.
  *
  * @see template_preprocess_field()
  *
  * @ingroup themeable
  */
  #}
  <div id="map{{node_id}}"/
  style="width: {{ width }}; height: {{ height }};"/
  aria-hidden="true"/
  tabindex="-1"/
  data-zoom="{{ zoom }}"/
  data-baseUrl="{{ base_url }}"/
  data-disable-default-ui="{{ disable_default_ui }}"/
  data-draggable="{{ draggable }}"/
  data-scroll-wheel="{{ scroll_wheel }}"/
  data-disable-double-click-zoom="{{ disable_double_click_zoom }}"/
  data-address="{{ address }}"/
  class="map-data-generate"/
  {% if icon %}
  data-icon="{{ icon }}"/
  {% endif %}
  {% if styles %}
  data-styles="{{ styles | raw }}"/
  {% endif %}
  ></div>

