* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
.clearfix {
    clear: both;
    display: block;
}
ul {
    margin: 0;
    padding: 0;
}
.layout-container, .page-content-wrap {
    max-width: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;

    &:after {
        content: '';
        clear: both;
        display: block;
    }
    @include breakpoint(xl) {
        max-width: 1200px;
        width: 100%;
        padding: 0;
    }
}
.layout:after {
    content: "";
    display: block;
    height: 346px;
}
.layout--default {
    position: relative;
    overflow: hidden;
}
section {
    &:before, &:after {
        content: " ";
        display: block;
        clear: both;
    }
}
.left {
    float: left;
}
.right {
    float: right;
}
.one-half {
    width: 100%;
    float: left;
    padding: 0 15px;

    @include breakpoint(large) {
        width: 50%;
    }
}
.one-third {
    width: 100%;
    padding: 0 15px;
    float: left;

    @include breakpoint(large) {
        width: 33.3333%;
    }
}
.no-padding {
    padding: 0;
}
.content-wrap, .page-content {
    ul {
        margin: 35px 0 0;
        padding: 0;
        list-style: none;

        li {
            padding-left: 20px;
            padding-bottom: 12px;
            position: relative;

            @include breakpoint(large) {
                padding-bottom: 10px;
            }
            &:before {
                content: '';
                width: 10px;
                height: 10px;
                background: $DeepSkyBlue;
                position: absolute;
                top: 8px;
                left: 0;
                border-radius: 100%;
            }
        }
    }
    ol {
        padding: 0;
        list-style: inside decimal;

        li {
            padding-bottom: 12px;
        }
    }
    blockquote {
        border-left: 7px solid $DarkGreen;
        padding-left: 20px;
        @include Zombie;
        margin-left: 0;

        p {
            margin: 0;
            padding: 0;
        }
    }
    .align-left {
        float: left;
        margin-right: 20px;
    }
    .align-right {
        float: right;
        margin-left: 20px;
    }
    .table-wrap {
        overflow-x: scroll;

        @media (min-width:560px) {
            overflow: hidden;
        }
        table {
            width: 100%;

            @include breakpoint(medium) {
                width: 100%;
            }
        }
    }
}
#page-wrapper {
    @include breakpoint(large) {
        min-height: 100%;
        margin-bottom: -321px;
    }
    &:after {
        @include breakpoint(large) {
            content: '';
            display: block;
            height: 321px;
        }
    }
}
form {
    label {
        text-align: left;
        display: block;
        font-family: $EnzoOffcBold;
        font-size: 12px;
        color: #757171;
        letter-spacing: 0.85px;
        text-transform: uppercase;
        padding-bottom: 3px;

        &.error {
            color: $DarkGreen;
        }
    }
    input, textarea {
        width: 100%;
        border: 2px solid $Geyser;
        height: 63px;
        -webkit-appearance: none;
        border-radius: 0;
        @include transition(border 0.5s ease);

        &.error {
            border: 2px solid $DarkGreen;
        }
        &:focus {
            border: 2px solid $DarkGreen;
        }
        @include breakpoint(large) {
            max-width: 403px;
        }
        &.form-submit {
            background: $DeepSkyBlue;
            @include Yeti;
            font-family: $EnzoOffcBold;
            color: $White;
            text-transform: uppercase;
            line-height: 64px;
            height: 60px;
            padding: 0  14px;
            display: inline-block;
            letter-spacing: 1px;
            margin-top: 3px;
            width: 180px;
            border: none;
            float: left;
            margin-bottom: 32px;
            @include transition(all 0.5s ease);

            &:hover {
                background: $DarkGreen;
                color: $White;
            }
            @include breakpoint(large) {
                padding: 0 25px;
                margin-left: 3px;
            }
        }
    }
    textarea {
        height: 240px;
        padding: 10px;

        @include breakpoint(large) {
            height: 246px;
        }
    }
}
ul.contextual-links {
    li.quickedit {
        display: none;
    }
}
.block-mjh_page_title {
    .contextual {
        top: 250px;
    }
}
.sharethis-block-configure {
    display: none;
}
#main-wrapper {
    .path-frontpage & {
        @include breakpoint(medium) {
            margin-top: 0px;
            overflow: hidden;
        }
        @include breakpoint(large) {
            background-image: url('../../images/page-bg.svg');
            background-repeat: no-repeat;
            background-position: center top -60px;
        }
    }
    position: relative;
}
.page-node-type-page, .path-contact-us {
    .main-content-wrap {
        background-image: url('../../images/page-bg-mobile.svg');
        background-repeat: no-repeat;
        background-position: center top;

        @include breakpoint(medium) {
            background-image: url('../../images/page-bg2.svg');
            background-repeat: no-repeat;
            background-position: center top -60px;
        }
    }
}
.path-brands {
    .main-content-wrap {
        background-image: url('../../images/page-bg-mobile.svg');
        background-repeat: no-repeat;
        background-position: center top;

        @include breakpoint(medium) {
            background-image: url('../../images/page-bg.svg');
            background-repeat: no-repeat;
            background-position: center top -60px;
        }
    }
}